# Pandas 한번에 제대로 배우기



---

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.3.3'

## Pandas 객체

Series 객체

In [2]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0])
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [3]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [4]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
s[1]

0.25

In [6]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [7]:
s = pd.Series([0, 0.2, 0.5, 0.75, 1], 
              index=['a','b','c','d','e'])
s

a    0.00
b    0.20
c    0.50
d    0.75
e    1.00
dtype: float64

In [8]:
s['c']

0.5

In [9]:
s[['c','d','e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [10]:
'b' in s

True

In [11]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1], 
              index=[2,4,6,8,10])

In [12]:
s[2]

0.0

In [13]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [14]:
s.unique()

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [15]:
s.value_counts()

0.00    1
0.25    1
0.50    1
0.75    1
1.00    1
dtype: int64

In [16]:
s.isin([0.25, 0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [17]:
pop_tuple = {'서울특별시' : 9720846,
             '부산광역시' : 3404423,
             '인천광역시' : 2947217,
             '대구광역시' : 2427954,
             '대전광역시' : 1471040,
             '광주광역시' : 1455048}
population = pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [18]:
population['서울특별시']

9720846

In [19]:
population['서울특별시': '인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

### DataFrame 객체

In [20]:
pd.DataFrame([{'A':2, 'B':4, 'D':3}, {'A':4, 'B':5,'C':7}])

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [21]:
pd.DataFrame(np.random.rand(5,5), 
             columns=['A', 'B', 'C', 'D','E'],
             index=[1, 2, 3, 4, 5])

          A         B         C         D         E
1  0.523474  0.887847  0.561951  0.074540  0.839299
2  0.275705  0.492506  0.073326  0.235710  0.042726
3  0.458012  0.162245  0.033746  0.430146  0.846925
4  0.690767  0.654575  0.781785  0.013905  0.108224
5  0.893568  0.083356  0.225572  0.416283  0.942666

In [22]:
male_tuple = {'서울특별시' : 4732275,
             '부산광역시' : 1668618,
             '인천광역시' : 1476813,
             '대구광역시' : 1198815,
             '대전광역시' : 734441,
             '광주광역시' : 720060}

male = pd.Series(male_tuple)
male

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [23]:
female_tuple = {'서울특별시' : 4988571,
             '부산광역시' : 1735805,
             '인천광역시' : 1470404,
             '대구광역시' : 1229139,
             '대전광역시' : 736599,
             '광주광역시' : 734988}
female = pd.Series(female_tuple)
female

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [24]:
korea_df = pd.DataFrame({'인구수' : population,
                         '남자인구수' : male,
                         '여자인구수' : female})
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [25]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [26]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [27]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [28]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404

### Index 객체

In [ ]:
idx = pd.Index([2, 4, 6, 8, 10])
idx

In [ ]:
idx[1]

In [ ]:
idx[1:2:2]

In [ ]:
idx[-1::]

In [ ]:
idx[::2]

In [ ]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)



```
# 코드로 형식 지정됨
```

#### Index 연산

![스크린샷 2021-08-29 오후 9.14.55.png]()

In [ ]:
idx1 = pd.Index([1, 2, 4, 6, 8])
idx2 = pd.Index([2, 4, 5, 6, 7])
print(idx1.append(idx2))

print(idx1.difference(idx2))

print(idx1 - idx2)

print(idx1.intersection(idx2))

print(idx1 & idx2)

print(idx1.union(idx2)) #중복허용안하고 합집합

print(idx1 | idx2 )

print(idx1.delete(0))

print(idx1.drop(4))

print(idx1 ^ idx2) # 여집합



---

## 인덱싱(Indexing)

In [ ]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1], 
              index=['a','b','c','d','e'])
s

In [ ]:
  s['b']

In [ ]:
'b' in s

In [ ]:
s.keys()

In [ ]:
s.items()

In [ ]:
list(s.items())

In [ ]:
s['f'] = 1.25
s

In [ ]:
s['a':'d']

In [ ]:
s[0:4]

In [ ]:
s[(s > 0.4) & (s < 0.8)]

In [ ]:
s[['a', 'b', 'c']]

### Series 인덱싱

In [ ]:
s =pd.Series(['a', 'b', 'c', 'd', 'e'],
             index=[1, 3, 5, 7, 9])
s

In [ ]:
s[1]

In [ ]:
s[2:4]

In [ ]:
s.iloc[1] #index를 지정하는것 integer

In [ ]:
s.iloc[2:4]

In [ ]:
s.reindex(range(10))

In [ ]:
s.reindex(range(10), method='bfill')
# back fill 1에 있는값이 바로전 0의 값으로 채워짐 a로 둘다 채워짐

### DataFrame 인덱싱

In [ ]:
korea_df

In [ ]:
korea_df['남자인구수']

In [ ]:
korea_df.남자인구수

In [ ]:
korea_df.여자인구수

In [ ]:
korea_df['남여비율'] = (korea_df.남자인구수 * 100 / korea_df.여자인구수)

In [ ]:
korea_df.남여비율

In [ ]:
korea_df.T

In [ ]:
korea_df.values[0]

In [ ]:
korea_df.인구수

In [ ]:
korea_df.loc[:'인천광역시', :'남자인구수'] #슬라이싱을 컬럼명으로할수있음

In [64]:
korea_df.loc[(korea_df.여자인구수 > 1000000)]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907

In [65]:
korea_df.loc[(korea_df.인구수 < 2000000)]

           인구수   남자인구수   여자인구수       남여비율
대전광역시  1471040  734441  736599  99.707032
광주광역시  1455048  720060  734988  97.968946

In [66]:
korea_df.loc[(korea_df.인구수 > 2500000)]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867

In [67]:
korea_df.loc[korea_df.남여비율 >100]

           인구수    남자인구수    여자인구수        남여비율
인천광역시  2947217  1476813  1470404  100.435867

In [68]:
korea_df.loc[(korea_df.인구수 >2500000) & (korea_df.남여비율 <100)]

           인구수    남자인구수    여자인구수       남여비율
서울특별시  9720846  4732275  4988571  94.862336
부산광역시  3404423  1668618  1735805  96.129346

In [69]:
korea_df.iloc[:3, :2]

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1476813

### 다중 인덱싱(Multi Indexing)

* 1차원의 Series와 2차원의 DataFrame 객체를 넘어 3차원, 4차원 이상의 고차원 데이터 처리
* 단일 인덱스 내에 여러 인덱스를 포함하는 다중 인덱싱

#### 다중 인덱스 Series

In [70]:
korea_df

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907
대전광역시  1471040   734441   736599   99.707032
광주광역시  1455048   720060   734988   97.968946

In [71]:
idx_tuples = [('서울특별시', 2010), ('서울특별시' , 2020),
              ('부산광역시', 2010), ('부산광역시' , 2020),
              ('인천광역시', 2010), ('인천광역시' , 2020),
              ('대구광역시', 2010), ('대구광역시' , 2020),
              ('대전광역시', 2010), ('대전광역시' , 2020),
              ('광주광역시', 2010), ('광주광역시' , 2020)]
idx_tuples              # tuple은 , dic 은 :

[('서울특별시', 2010),
 ('서울특별시', 2020),
 ('부산광역시', 2010),
 ('부산광역시', 2020),
 ('인천광역시', 2010),
 ('인천광역시', 2020),
 ('대구광역시', 2010),
 ('대구광역시', 2020),
 ('대전광역시', 2010),
 ('대전광역시', 2020),
 ('광주광역시', 2010),
 ('광주광역시', 2020)]

In [72]:
pop_tuples = [10312545, 9720846,
              2567910, 3404423,
              2758296, 2947217,
              2511676, 2427954,
              1503664, 1471040,
              1454636, 1455048]
population = pd.Series(pop_tuples, index = idx_tuples)
population

(서울특별시, 2010)    10312545
(서울특별시, 2020)     9720846
(부산광역시, 2010)     2567910
(부산광역시, 2020)     3404423
(인천광역시, 2010)     2758296
(인천광역시, 2020)     2947217
(대구광역시, 2010)     2511676
(대구광역시, 2020)     2427954
(대전광역시, 2010)     1503664
(대전광역시, 2020)     1471040
(광주광역시, 2010)     1454636
(광주광역시, 2020)     1455048
dtype: int64

In [73]:
midx = pd.MultiIndex.from_tuples(idx_tuples)
midx

MultiIndex([('서울특별시', 2010),
            ('서울특별시', 2020),
            ('부산광역시', 2010),
            ('부산광역시', 2020),
            ('인천광역시', 2010),
            ('인천광역시', 2020),
            ('대구광역시', 2010),
            ('대구광역시', 2020),
            ('대전광역시', 2010),
            ('대전광역시', 2020),
            ('광주광역시', 2010),
            ('광주광역시', 2020)],
           )

In [74]:
population = population.reindex(midx)
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [75]:
population[:, 2010]

서울특별시    10312545
부산광역시     2567910
인천광역시     2758296
대구광역시     2511676
대전광역시     1503664
광주광역시     1454636
dtype: int64

In [76]:
population['대전광역시', : ]

2010    1503664
2020    1471040
dtype: int64

In [77]:
korea_mdf = population.unstack()
korea_mdf

           2010     2020
광주광역시   1454636  1455048
대구광역시   2511676  2427954
대전광역시   1503664  1471040
부산광역시   2567910  3404423
서울특별시  10312545  9720846
인천광역시   2758296  2947217

In [78]:
korea_mdf.stack()

광주광역시  2010     1454636
       2020     1455048
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
부산광역시  2010     2567910
       2020     3404423
서울특별시  2010    10312545
       2020     9720846
인천광역시  2010     2758296
       2020     2947217
dtype: int64

In [79]:
male_tuples = [5111259, 4732275,
              1773170, 1668618,
              1390356, 1476813,
              1255245, 1198815,
              753648, 734441,
              721780, 720060]
male_tuples

[5111259,
 4732275,
 1773170,
 1668618,
 1390356,
 1476813,
 1255245,
 1198815,
 753648,
 734441,
 721780,
 720060]

In [80]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples})
korea_mdf

                총인구수    남자인구수
서울특별시 2010  10312545  5111259
      2020   9720846  4732275
부산광역시 2010   2567910  1773170
      2020   3404423  1668618
인천광역시 2010   2758296  1390356
      2020   2947217  1476813
대구광역시 2010   2511676  1255245
      2020   2427954  1198815
대전광역시 2010   1503664   753648
      2020   1471040   734441
광주광역시 2010   1454636   721780
      2020   1455048   720060

In [81]:
female_tuples = [5201286, 4988571,
                 1794740, 1735805,
                 1367940, 1470404,
                 1256431, 1229139,
                 750016, 736599,
                 732586, 734988]
female_tuples

[5201286,
 4988571,
 1794740,
 1735805,
 1367940,
 1470404,
 1256431,
 1229139,
 750016,
 736599,
 732586,
 734988]

In [82]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples})
korea_mdf

                총인구수    남자인구수    여자인구수
서울특별시 2010  10312545  5111259  5201286
      2020   9720846  4732275  4988571
부산광역시 2010   2567910  1773170  1794740
      2020   3404423  1668618  1735805
인천광역시 2010   2758296  1390356  1367940
      2020   2947217  1476813  1470404
대구광역시 2010   2511676  1255245  1256431
      2020   2427954  1198815  1229139
대전광역시 2010   1503664   753648   750016
      2020   1471040   734441   736599
광주광역시 2010   1454636   721780   732586
      2020   1455048   720060   734988

In [83]:
ratio = (korea_mdf.남자인구수 * 100 / korea_mdf.여자인구수)
ratio

서울특별시  2010     98.269140
       2020     94.862336
부산광역시  2010     98.798155
       2020     96.129346
인천광역시  2010    101.638668
       2020    100.435867
대구광역시  2010     99.905606
       2020     97.532907
대전광역시  2010    100.484256
       2020     99.707032
광주광역시  2010     98.524951
       2020     97.968946
dtype: float64

In [84]:
ratio.unstack()

             2010        2020
광주광역시   98.524951   97.968946
대구광역시   99.905606   97.532907
대전광역시  100.484256   99.707032
부산광역시   98.798155   96.129346
서울특별시   98.269140   94.862336
인천광역시  101.638668  100.435867

In [85]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples,
                          '남여비율' : ratio})
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
광주광역시 2010   1454636   721780   732586   98.524951
      2020   1455048   720060   734988   97.968946

#### 다중 인덱스 생성

In [86]:
df = pd.DataFrame(np.random.rand(6,3), 
                  index=[['a', 'a','b','b','c','c'],[1,2,1,2,1,2]],
                  columns=['c1', 'c2', 'c3'])
df

           c1        c2        c3
a 1  0.837501  0.912605  0.765541
  2  0.080679  0.368945  0.528439
b 1  0.391398  0.333320  0.950536
  2  0.144896  0.124286  0.475442
c 1  0.639329  0.157425  0.493507
  2  0.671128  0.489752  0.005168

In [87]:
pd.MultiIndex.from_arrays([['a', 'a','b','b','c','c'],[1,2,1,2,1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [88]:
pd.MultiIndex.from_arrays([('a', 1), ('a',2), ('b', 1), ('b',2), ('c',1), ('c', 2)])

pd.MultiIndex.from_tuples([('a', 1), ('a',2), ('b', 1), ('b',2), ('c',1), ('c', 2)])
# tuples붙여야 같은 형식으로 나옴

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [89]:
pd.MultiIndex.from_product([['a', 'b', 'c'], [1,2]])
#이게 더간편

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [90]:
pd.MultiIndex(levels=[['a', 'b', 'c'], [1,2]],
                      codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])
# 각 레벨값을 codes로 지정 index위치를 지정한것

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [91]:
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [92]:
population.index.names = ['행정구역', '년도']
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [93]:
idx = pd.MultiIndex.from_product([['a', 'b', 'c'], [1,2]],
                                 names=['name1', 'name2'])
cols = pd.MultiIndex.from_product([['c1', 'c2', 'c3'], [1, 2]],
                                  names=['col_name1', 'col_name2'])
data = np.round(np.random.randn(6, 6), 2)
mdf = pd.DataFrame(data, index = idx, columns = cols)
mdf

col_name1      c1          c2          c3
col_name2       1     2     1     2     1     2
name1 name2
a     1     -0.15 -1.57 -0.39  0.69 -0.55  0.13
      2     -1.18 -1.17  0.04  1.01 -0.75  0.65
b     1     -1.62 -1.87  0.24  0.57 -0.72  1.33
      2      0.95 -0.49  2.67  0.85 -0.18  1.64
c     1      0.62 -1.30 -0.34  0.70 -0.65 -0.24
      2      0.08  0.53 -0.29 -0.16  1.88 -2.26

In [94]:
mdf['c2']

col_name2       1     2
name1 name2
a     1     -0.39  0.69
      2      0.04  1.01
b     1      0.24  0.57
      2      2.67  0.85
c     1     -0.34  0.70
      2     -0.29 -0.16

#### 인덱싱 및 슬라이싱

In [95]:
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [96]:
population['인천광역시', 2010]

2758296

In [97]:
population[:, 2010]

행정구역
서울특별시    10312545
부산광역시     2567910
인천광역시     2758296
대구광역시     2511676
대전광역시     1503664
광주광역시     1454636
dtype: int64

In [98]:
population[population >3000000]

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2020     3404423
dtype: int64

In [99]:
population[['대구광역시', '대전광역시']]

행정구역   년도
대구광역시  2010    2511676
       2020    2427954
대전광역시  2010    1503664
       2020    1471040
dtype: int64

In [100]:
mdf

col_name1      c1          c2          c3
col_name2       1     2     1     2     1     2
name1 name2
a     1     -0.15 -1.57 -0.39  0.69 -0.55  0.13
      2     -1.18 -1.17  0.04  1.01 -0.75  0.65
b     1     -1.62 -1.87  0.24  0.57 -0.72  1.33
      2      0.95 -0.49  2.67  0.85 -0.18  1.64
c     1      0.62 -1.30 -0.34  0.70 -0.65 -0.24
      2      0.08  0.53 -0.29 -0.16  1.88 -2.26

In [101]:
mdf['c2', 1]

name1  name2
a      1       -0.39
       2        0.04
b      1        0.24
       2        2.67
c      1       -0.34
       2       -0.29
Name: (c2, 1), dtype: float64

In [102]:
mdf.iloc[:3, :4]

col_name1      c1          c2
col_name2       1     2     1     2
name1 name2
a     1     -0.15 -1.57 -0.39  0.69
      2     -1.18 -1.17  0.04  1.01
b     1     -1.62 -1.87  0.24  0.57

In [103]:
mdf.loc[:, ('c2', 1)]

name1  name2
a      1       -0.39
       2        0.04
b      1        0.24
       2        2.67
c      1       -0.34
       2       -0.29
Name: (c2, 1), dtype: float64

In [104]:
idx_slice = pd.IndexSlice

mdf.loc[idx_slice[:,2 ], idx_slice[:,2]]

col_name1      c1    c2    c3
col_name2       2     2     2
name1 name2
a     2     -1.17  1.01  0.65
b     2     -0.49  0.85  1.64
c     2      0.53 -0.16 -2.26

#### 다중 인덱스 재정렬

In [105]:
idx

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           names=['name1', 'name2'])

In [106]:
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
광주광역시 2010   1454636   721780   732586   98.524951
      2020   1455048   720060   734988   97.968946

In [107]:
#korea_mdf['서울특별시': '인천광역시']
korea_mdf = korea_mdf.sort_index()
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
광주광역시 2010   1454636   721780   732586   98.524951
      2020   1455048   720060   734988   97.968946
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [108]:
korea_mdf['서울특별시': '인천광역시']
#sort 후에 가능함정렬후에 가능

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [109]:
korea_mdf.unstack(level=0)

         총인구수                                                 남자인구수           \
행정구역    광주광역시    대구광역시    대전광역시    부산광역시     서울특별시    인천광역시   광주광역시    대구광역시
년도
2010  1454636  2511676  1503664  2567910  10312545  2758296  721780  1255245
2020  1455048  2427954  1471040  3404423   9720846  2947217  720060  1198815

                       ...   여자인구수                                  남여비율  \
행정구역   대전광역시    부산광역시  ...   대전광역시    부산광역시    서울특별시    인천광역시      광주광역시
년도                     ...
2010  753648  1773170  ...  750016  1794740  5201286  1367940  98.524951
2020  734441  1668618  ...  736599  1735805  4988571  1470404  97.968946


행정구역      대구광역시       대전광역시      부산광역시      서울특별시       인천광역시
년도
2010  99.905606  100.484256  98.798155  98.269140  101.638668
2020  97.532907   99.707032  96.129346  94.862336  100.435867

[2 rows x 24 columns]

In [110]:
korea_mdf.unstack(level=1)

           총인구수             남자인구수             여자인구수                 남여비율  \
년도         2010     2020     2010     2020     2010     2020        2010
행정구역
광주광역시   1454636  1455048   721780   720060   732586   734988   98.524951
대구광역시   2511676  2427954  1255245  1198815  1256431  1229139   99.905606
대전광역시   1503664  1471040   753648   734441   750016   736599  100.484256
부산광역시   2567910  3404423  1773170  1668618  1794740  1735805   98.798155
서울특별시  10312545  9720846  5111259  4732275  5201286  4988571   98.269140
인천광역시   2758296  2947217  1390356  1476813  1367940  1470404  101.638668


년도           2020
행정구역
광주광역시   97.968946
대구광역시   97.532907
대전광역시   99.707032
부산광역시   96.129346
서울특별시   94.862336
인천광역시  100.435867

In [111]:
korea_mdf.stack()

행정구역   년도
광주광역시  2010  총인구수     1.454636e+06
             남자인구수    7.217800e+05
             여자인구수    7.325860e+05
             남여비율     9.852495e+01
       2020  총인구수     1.455048e+06
             남자인구수    7.200600e+05
             여자인구수    7.349880e+05
             남여비율     9.796895e+01
대구광역시  2010  총인구수     2.511676e+06
             남자인구수    1.255245e+06
             여자인구수    1.256431e+06
             남여비율     9.990561e+01
       2020  총인구수     2.427954e+06
             남자인구수    1.198815e+06
             여자인구수    1.229139e+06
             남여비율     9.753291e+01
대전광역시  2010  총인구수     1.503664e+06
             남자인구수    7.536480e+05
             여자인구수    7.500160e+05
             남여비율     1.004843e+02
       2020  총인구수     1.471040e+06
             남자인구수    7.344410e+05
             여자인구수    7.365990e+05
             남여비율     9.970703e+01
부산광역시  2010  총인구수     2.567910e+06
             남자인구수    1.773170e+06
             여자인구수    1.794740e+06
             남여비율     9.879815e+01
       2020  총인구수     3.404423e+06
             남자인구수    1.668618e+06
             여자인구수    1.735805e+06
             남여비율     9.612935e+01
서울특별시  2010  총인구수     1.031254e+07
             남자인구수    5.111259e+06
             여자인구수    5.201286e+06
             남여비율     9.826914e+01
       2020  총인구수     9.720846e+06
             남자인구수    4.732275e+06
             여자인구수    4.988571e+06
             남여비율     9.486234e+01
인천광역시  2010  총인구수     2.758296e+06
             남자인구수    1.390356e+06
             여자인구수    1.367940e+06
             남여비율     1.016387e+02
       2020  총인구수     2.947217e+06
             남자인구수    1.476813e+06
             여자인구수    1.470404e+06
             남여비율     1.004359e+02
dtype: float64

In [112]:
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
광주광역시 2010   1454636   721780   732586   98.524951
      2020   1455048   720060   734988   97.968946
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [113]:
idx_flat = korea_mdf.reset_index(level=0)
idx_flat

       행정구역      총인구수    남자인구수    여자인구수        남여비율
년도
2010  광주광역시   1454636   721780   732586   98.524951
2020  광주광역시   1455048   720060   734988   97.968946
2010  대구광역시   2511676  1255245  1256431   99.905606
2020  대구광역시   2427954  1198815  1229139   97.532907
2010  대전광역시   1503664   753648   750016  100.484256
2020  대전광역시   1471040   734441   736599   99.707032
2010  부산광역시   2567910  1773170  1794740   98.798155
2020  부산광역시   3404423  1668618  1735805   96.129346
2010  서울특별시  10312545  5111259  5201286   98.269140
2020  서울특별시   9720846  4732275  4988571   94.862336
2010  인천광역시   2758296  1390356  1367940  101.638668
2020  인천광역시   2947217  1476813  1470404  100.435867

In [114]:
idx_flat = korea_mdf.reset_index(level=(0,1))
idx_flat

     행정구역    년도      총인구수    남자인구수    여자인구수        남여비율
0   광주광역시  2010   1454636   721780   732586   98.524951
1   광주광역시  2020   1455048   720060   734988   97.968946
2   대구광역시  2010   2511676  1255245  1256431   99.905606
3   대구광역시  2020   2427954  1198815  1229139   97.532907
4   대전광역시  2010   1503664   753648   750016  100.484256
5   대전광역시  2020   1471040   734441   736599   99.707032
6   부산광역시  2010   2567910  1773170  1794740   98.798155
7   부산광역시  2020   3404423  1668618  1735805   96.129346
8   서울특별시  2010  10312545  5111259  5201286   98.269140
9   서울특별시  2020   9720846  4732275  4988571   94.862336
10  인천광역시  2010   2758296  1390356  1367940  101.638668
11  인천광역시  2020   2947217  1476813  1470404  100.435867

In [115]:
idx_flat.set_index(['행정구역', '년도'])

                총인구수    남자인구수    여자인구수        남여비율
행정구역  년도
광주광역시 2010   1454636   721780   732586   98.524951
      2020   1455048   720060   734988   97.968946
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

## 데이터 연산

In [116]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randint(0, 10, 5))
s

0    0
1    5
2    4
3    9
4    5
dtype: int32

In [117]:
df = pd.DataFrame(np.random.randint(0, 10, (3,3)),
                  columns=['A', 'B', 'C'])
df

   A  B  C
0  5  0  0
1  6  8  0
2  0  2  6

In [118]:
np.exp(s)

0       1.000000
1     148.413159
2      54.598150
3    8103.083928
4     148.413159
dtype: float64

In [119]:
np.cos(df * np.pi /4)

              A             B             C
0 -7.071068e-01  1.000000e+00  1.000000e+00
1 -1.836970e-16  1.000000e+00  1.000000e+00
2  1.000000e+00  6.123234e-17 -1.836970e-16

In [120]:
s1 = pd.Series([1, 3, 5, 7, 9], index=[0, 1, 2, 3, 4])
s2 = pd.Series([2, 4, 6, 8 ,10], index=[1, 2, 3, 4, 5])
s1 + s2 # index가기준으로 index가없으면 NaN 표시됨

0     NaN
1     5.0
2     9.0
3    13.0
4    17.0
5     NaN
dtype: float64

In [121]:
s1.add(s2, fill_value=0) # 없는 index는 0으로 채워라

0     1.0
1     5.0
2     9.0
3    13.0
4    17.0
5    10.0
dtype: float64

In [122]:
df1 = pd.DataFrame(np.random.randint(0, 20, (3,3)), columns=list('ACD'))
df1

    A   C   D
0   9  16   7
1   7  11  15
2  10   0   0

In [123]:
df2 = pd.DataFrame(np.random.randint(0, 20, (5,5)), columns=list('BAECD'))
df2

    B   A   E   C   D
0   8   2  18   5  18
1  17  12   9  16  19
2  14   5   8  11  15
3  15  18   9   3   1
4   4  19   5  14  19

In [124]:
df1 + df2

      A   B     C     D   E
0  11.0 NaN  21.0  25.0 NaN
1  19.0 NaN  27.0  34.0 NaN
2  15.0 NaN  11.0  15.0 NaN
3   NaN NaN   NaN   NaN NaN
4   NaN NaN   NaN   NaN NaN

In [125]:
fvalue = df1.stack().mean()
df1.add(df2, fill_value=fvalue)

           A          B          C          D          E
0  11.000000  16.333333  21.000000  25.000000  26.333333
1  19.000000  25.333333  27.000000  34.000000  17.333333
2  15.000000  22.333333  11.000000  15.000000  16.333333
3  26.333333  23.333333  11.333333   9.333333  17.333333
4  27.333333  12.333333  22.333333  27.333333  13.333333

### 연산자 범용 함수

#### add()

In [126]:
a = np.random.randint(1, 10, size=(3,3))
a

array([[8, 8, 7],
       [1, 7, 3],
       [8, 6, 5]])

In [127]:
a + a[0]

array([[16, 16, 14],
       [ 9, 15, 10],
       [16, 14, 12]])

In [128]:
df = pd.DataFrame(a, columns=list('ABC'))
df

   A  B  C
0  8  8  7
1  1  7  3
2  8  6  5

In [129]:
df +df.iloc[0]

    A   B   C
0  16  16  14
1   9  15  10
2  16  14  12

In [130]:
df.add(df.iloc[0])

    A   B   C
0  16  16  14
1   9  15  10
2  16  14  12

#### sub() / subtract()

In [131]:
a

array([[8, 8, 7],
       [1, 7, 3],
       [8, 6, 5]])

In [132]:
a - a[0]

array([[ 0,  0,  0],
       [-7, -1, -4],
       [ 0, -2, -2]])

In [133]:
df - df.iloc[0]

   A  B  C
0  0  0  0
1 -7 -1 -4
2  0 -2 -2

In [134]:
df.sub(df.iloc[0])

   A  B  C
0  0  0  0
1 -7 -1 -4
2  0 -2 -2

In [135]:
df.subtract(df['B'], axis=0)

   A  B  C
0  0  0 -1
1 -6  0 -4
2  2  0 -1

#### mul() / multply()

In [136]:
df

   A  B  C
0  8  8  7
1  1  7  3
2  8  6  5

In [137]:
df * df.iloc[1]

   A   B   C
0  8  56  21
1  1  49   9
2  8  42  15

In [138]:
df.mul(df.iloc[1])

   A   B   C
0  8  56  21
1  1  49   9
2  8  42  15

In [139]:
df.multiply(df.iloc[1])

   A   B   C
0  8  56  21
1  1  49   9
2  8  42  15

#### truediv() /  div() / divide() / floordiv()

In [140]:
a

array([[8, 8, 7],
       [1, 7, 3],
       [8, 6, 5]])

In [141]:
a / a[0]

array([[1.        , 1.        , 1.        ],
       [0.125     , 0.875     , 0.42857143],
       [1.        , 0.75      , 0.71428571]])

In [142]:
df

   A  B  C
0  8  8  7
1  1  7  3
2  8  6  5

In [143]:
df / df.iloc[0]

       A      B         C
0  1.000  1.000  1.000000
1  0.125  0.875  0.428571
2  1.000  0.750  0.714286

In [144]:
df.truediv(df.iloc[0]) #일반적인 나누기

       A      B         C
0  1.000  1.000  1.000000
1  0.125  0.875  0.428571
2  1.000  0.750  0.714286

In [145]:
df.divide(df.iloc[2])

       A         B    C
0  1.000  1.333333  1.4
1  0.125  1.166667  0.6
2  1.000  1.000000  1.0

In [146]:
a // a[0] #floor div 몫만

array([[1, 1, 1],
       [0, 0, 0],
       [1, 0, 0]], dtype=int32)

In [147]:
df.floordiv(df.iloc[0])

   A  B  C
0  1  1  1
1  0  0  0
2  1  0  0

#### mod()

In [148]:
a

array([[8, 8, 7],
       [1, 7, 3],
       [8, 6, 5]])

In [149]:
a % a[0]

array([[0, 0, 0],
       [1, 7, 3],
       [0, 6, 5]], dtype=int32)

In [150]:
df

   A  B  C
0  8  8  7
1  1  7  3
2  8  6  5

In [151]:
df.mod(df.iloc[0]) #나머지 연산

   A  B  C
0  0  0  0
1  1  7  3
2  0  6  5

#### pow()

In [152]:
a

array([[8, 8, 7],
       [1, 7, 3],
       [8, 6, 5]])

In [153]:
a ** a[0]

array([[16777216, 16777216,   823543],
       [       1,  5764801,     2187],
       [16777216,  1679616,    78125]], dtype=int32)

In [154]:
df

   A  B  C
0  8  8  7
1  1  7  3
2  8  6  5

In [155]:
df.pow(df.iloc[0])

          A         B       C
0  16777216  16777216  823543
1         1   5764801    2187
2  16777216   1679616   78125

In [156]:
row = df.iloc[0, ::2]
row

A    8
C    7
Name: 0, dtype: int32

In [157]:
df - row

     A   B    C
0  0.0 NaN  0.0
1 -7.0 NaN -4.0
2  0.0 NaN -2.0

### 정렬(Sort)

In [158]:
s = pd.Series(range(5), index=['A','D','B','C','E'])
s

A    0
D    1
B    2
C    3
E    4
dtype: int64

In [159]:
s.sort_index()

A    0
B    2
C    3
D    1
E    4
dtype: int64

In [160]:
s.sort_values()

A    0
D    1
B    2
C    3
E    4
dtype: int64

In [161]:
df = pd.DataFrame(np.random.randint(0,10, (4,4)),
                                    index=[2,4,1,3],
                                    columns=list('BDAC'))
df

   B  D  A  C
2  6  5  6  5
4  0  7  3  0
1  1  2  5  0
3  3  1  0  9

In [162]:
df.sort_values(by='A')

   B  D  A  C
3  3  1  0  9
4  0  7  3  0
1  1  2  5  0
2  6  5  6  5

In [163]:
df.sort_index()

   B  D  A  C
1  1  2  5  0
2  6  5  6  5
3  3  1  0  9
4  0  7  3  0

In [164]:
df.sort_index(1, ascending=False)

C:\Users\ps712\AppData\Local\Temp/ipykernel_23188/70776128.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_index will be keyword-only
  df.sort_index(1, ascending=False)

   D  C  B  A
2  5  5  6  6
4  7  0  0  3
1  2  0  1  5
3  1  9  3  0

In [165]:
df.sort_values(by=['A','C']) #A를 먼저정렬 그담에 C정렬

   B  D  A  C
3  3  1  0  9
4  0  7  3  0
1  1  2  5  0
2  6  5  6  5

### 순위(Ranking)

In [166]:
s = pd.Series([-2, 4, 7, 3 ,0, 7, 5, -4, 2, 6])
s

0   -2
1    4
2    7
3    3
4    0
5    7
6    5
7   -4
8    2
9    6
dtype: int64

In [167]:
s.rank()

0    2.0
1    6.0
2    9.5
3    5.0
4    3.0
5    9.5
6    7.0
7    1.0
8    4.0
9    8.0
dtype: float64

In [168]:
s.rank(method='first') #동일한값이나왔을때 먼저적혀있는숫자가 랭크가 높아짐 9.5가아니라

0     2.0
1     6.0
2     9.0
3     5.0
4     3.0
5    10.0
6     7.0
7     1.0
8     4.0
9     8.0
dtype: float64

In [169]:
s.rank(method='max') #동일한값이 나왔을때 둘다 큰수로 표현

0     2.0
1     6.0
2    10.0
3     5.0
4     3.0
5    10.0
6     7.0
7     1.0
8     4.0
9     8.0
dtype: float64

### 고성능 연산

In [170]:
nrows, ncols = 100000, 100
df1, df2, df3, df4 = (pd.DataFrame(np.random.rand(nrows, ncols)) for i in range(4))

In [171]:
%timeit df1 + df2+ df3 + df4

52.3 ms ± 2.52 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [172]:
%timeit pd.eval('df1 + df2 + df3 +df4')

54.9 ms ± 2.45 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [173]:
%timeit df1 * -df2 / (-df3*df4)

88.8 ms ± 4.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [174]:
%timeit pd.eval('df1 * -df2 / (-df3*df4)')

79.1 ms ± 1.09 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [175]:
%timeit (df1 < df2) & (df2 <=df3) & (df3 != df4)

32.3 ms ± 918 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [176]:
%timeit pd.eval('(df1 < df2) & (df2 <=df3) & (df3 != df4)')

32.9 ms ± 446 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [177]:
df = pd.DataFrame(np.random.rand(1000000, 5), columns=['A','B','C','D','E'])
df.head()

          A         B         C         D         E
0  0.544377  0.199054  0.395351  0.728355  0.775701
1  0.901189  0.166154  0.149465  0.041190  0.028591
2  0.294518  0.756095  0.274672  0.016330  0.306614
3  0.574202  0.366537  0.331213  0.321681  0.525298
4  0.703615  0.307708  0.469101  0.055412  0.045495

In [178]:
%timeit df['A']+ df['B'] / df['C'] -df['D'] *df['E']

11.2 ms ± 259 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [179]:
%timeit pd.eval('df.A+ df.B /df.C - df.D * df.E')

10.5 ms ± 487 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [180]:
%timeit df.eval('A + B/ C -D * E')

14.1 ms ± 659 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [181]:
df.eval('R =A + B/ C -D * E', inplace=True)
df.head()

          A         B         C         D         E         R
0  0.544377  0.199054  0.395351  0.728355  0.775701  0.482878
1  0.901189  0.166154  0.149465  0.041190  0.028591  2.011671
2  0.294518  0.756095  0.274672  0.016330  0.306614  3.042230
3  0.574202  0.366537  0.331213  0.321681  0.525298  1.511876
4  0.703615  0.307708  0.469101  0.055412  0.045495  1.357048

In [182]:
df.eval('R =A - B/ C * D * E', inplace=True)
df.head()

          A         B         C         D         E         R
0  0.544377  0.199054  0.395351  0.728355  0.775701  0.259914
1  0.901189  0.166154  0.149465  0.041190  0.028591  0.899880
2  0.294518  0.756095  0.274672  0.016330  0.306614  0.280736
3  0.574202  0.366537  0.331213  0.321681  0.525298  0.387202
4  0.703615  0.307708  0.469101  0.055412  0.045495  0.701962

In [183]:
col_mean = df.mean(1)
df['A'] + col_mean

0         1.028169
1         1.265600
2         0.616012
3         0.991891
4         1.084164
            ...
999995    0.384447
999996    0.398327
999997    0.449955
999998    0.323680
999999    1.626340
Length: 1000000, dtype: float64

In [184]:
df.eval('A+ @col_mean')

0         1.028169
1         1.265600
2         0.616012
3         0.991891
4         1.084164
            ...
999995    0.384447
999996    0.398327
999997    0.449955
999998    0.323680
999999    1.626340
Length: 1000000, dtype: float64

In [185]:
df[(df.A < 0.5) & (df.B <0.5) & (df.C>0.5)]

               A         B         C         D         E         R
7       0.140420  0.142058  0.823085  0.180624  0.188474  0.134544
27      0.159231  0.099159  0.796362  0.207646  0.174405  0.154722
34      0.471297  0.312755  0.559816  0.759740  0.551138  0.237368
35      0.263750  0.311664  0.933340  0.042484  0.970867  0.249976
39      0.463163  0.398196  0.761711  0.783155  0.223759  0.371555
...          ...       ...       ...       ...       ...       ...
999976  0.233137  0.005641  0.911697  0.176452  0.564455  0.232521
999989  0.232613  0.335541  0.606868  0.763487  0.496960  0.022828
999994  0.392123  0.289393  0.722313  0.697844  0.683900  0.200912
999996  0.029808  0.413759  0.720783  0.844802  0.334248 -0.132286
999997  0.125192  0.246589  0.632150  0.684077  0.184654  0.075918

[125254 rows x 6 columns]

In [186]:
pd.eval('df[(df.A < 0.5) & (df.B <0.5) & (df.C>0.5)]')

               A         B         C         D         E         R
7       0.140420  0.142058  0.823085  0.180624  0.188474  0.134544
27      0.159231  0.099159  0.796362  0.207646  0.174405  0.154722
34      0.471297  0.312755  0.559816  0.759740  0.551138  0.237368
35      0.263750  0.311664  0.933340  0.042484  0.970867  0.249976
39      0.463163  0.398196  0.761711  0.783155  0.223759  0.371555
...          ...       ...       ...       ...       ...       ...
999976  0.233137  0.005641  0.911697  0.176452  0.564455  0.232521
999989  0.232613  0.335541  0.606868  0.763487  0.496960  0.022828
999994  0.392123  0.289393  0.722313  0.697844  0.683900  0.200912
999996  0.029808  0.413759  0.720783  0.844802  0.334248 -0.132286
999997  0.125192  0.246589  0.632150  0.684077  0.184654  0.075918

[125254 rows x 6 columns]

In [187]:
df.query('(A < 0.5) and (B <0.5) and (C>0.5)')
#df.query로 바로 실행

               A         B         C         D         E         R
7       0.140420  0.142058  0.823085  0.180624  0.188474  0.134544
27      0.159231  0.099159  0.796362  0.207646  0.174405  0.154722
34      0.471297  0.312755  0.559816  0.759740  0.551138  0.237368
35      0.263750  0.311664  0.933340  0.042484  0.970867  0.249976
39      0.463163  0.398196  0.761711  0.783155  0.223759  0.371555
...          ...       ...       ...       ...       ...       ...
999976  0.233137  0.005641  0.911697  0.176452  0.564455  0.232521
999989  0.232613  0.335541  0.606868  0.763487  0.496960  0.022828
999994  0.392123  0.289393  0.722313  0.697844  0.683900  0.200912
999996  0.029808  0.413759  0.720783  0.844802  0.334248 -0.132286
999997  0.125192  0.246589  0.632150  0.684077  0.184654  0.075918

[125254 rows x 6 columns]

In [188]:
col_mean = df['D'].mean()
df[(df.A < col_mean) & (df.B < col_mean)]

               A         B         C         D         E         R
5       0.314354  0.291524  0.420410  0.833195  0.012243  0.307280
7       0.140420  0.142058  0.823085  0.180624  0.188474  0.134544
8       0.386982  0.200572  0.433499  0.949913  0.125720  0.331727
9       0.010774  0.408989  0.064736  0.790456  0.809712 -4.032892
15      0.428336  0.199349  0.388739  0.645297  0.418140  0.289968
...          ...       ...       ...       ...       ...       ...
999989  0.232613  0.335541  0.606868  0.763487  0.496960  0.022828
999994  0.392123  0.289393  0.722313  0.697844  0.683900  0.200912
999996  0.029808  0.413759  0.720783  0.844802  0.334248 -0.132286
999997  0.125192  0.246589  0.632150  0.684077  0.184654  0.075918
999998  0.073516  0.380267  0.211327  0.226919  0.904950 -0.295997

[250399 rows x 6 columns]

In [189]:
df.query('A < @col_mean and B < @col_mean')

               A         B         C         D         E         R
5       0.314354  0.291524  0.420410  0.833195  0.012243  0.307280
7       0.140420  0.142058  0.823085  0.180624  0.188474  0.134544
8       0.386982  0.200572  0.433499  0.949913  0.125720  0.331727
9       0.010774  0.408989  0.064736  0.790456  0.809712 -4.032892
15      0.428336  0.199349  0.388739  0.645297  0.418140  0.289968
...          ...       ...       ...       ...       ...       ...
999989  0.232613  0.335541  0.606868  0.763487  0.496960  0.022828
999994  0.392123  0.289393  0.722313  0.697844  0.683900  0.200912
999996  0.029808  0.413759  0.720783  0.844802  0.334248 -0.132286
999997  0.125192  0.246589  0.632150  0.684077  0.184654  0.075918
999998  0.073516  0.380267  0.211327  0.226919  0.904950 -0.295997

[250399 rows x 6 columns]

## 데이터 결합

### Concat() / Append()

In [190]:
s1 = pd.Series(['a', 'b'], index=[1,2])
s2 = pd.Series(['c', 'd'], index=[3,4])

pd.concat([s1, s2])

1    a
2    b
3    c
4    d
dtype: object

In [191]:
def create_df(cols, idx):
  data = {c: [str(c.lower()) + str(i) for i in idx] for c in cols}
  return pd.DataFrame(data, idx)

In [192]:
df1 =create_df('AB', [1,2])
df1

    A   B
1  a1  b1
2  a2  b2

In [193]:
df2 =create_df('AB', [3,4])
df2

    A   B
3  a3  b3
4  a4  b4

In [194]:
pd.concat([df1, df2])

    A   B
1  a1  b1
2  a2  b2
3  a3  b3
4  a4  b4

In [195]:
df3 = create_df('AB', [0,1])
df3

    A   B
0  a0  b0
1  a1  b1

In [196]:
df4 = create_df('CD', [0,1])
df4

    C   D
0  c0  d0
1  c1  d1

In [197]:
pd.concat([df3, df4])

     A    B    C    D
0   a0   b0  NaN  NaN
1   a1   b1  NaN  NaN
0  NaN  NaN   c0   d0
1  NaN  NaN   c1   d1

In [198]:
#pd.concat([df1, df3], verify_integrity=True)

In [199]:
pd.concat([df1, df3], ignore_index=True)

    A   B
0  a1  b1
1  a2  b2
2  a0  b0
3  a1  b1

In [200]:
pd.concat([df1, df3], keys=['X', 'Y'])

      A   B
X 1  a1  b1
  2  a2  b2
Y 0  a0  b0
  1  a1  b1

In [201]:
df5 = create_df('ABC', [1,2])
df6 = create_df('BCD', [3,4])
pd.concat([df5, df6])

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

In [202]:
pd.concat([df5,df6], join='inner') # 중복이되는부분만 합함 둘다존재하는 data만 innerjoin

    B   C
1  b1  c1
2  b2  c2
3  b3  c3
4  b4  c4

In [203]:
df5.append(df6)

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

In [204]:
pd.concat([df5,df6], axis=1)

     A    B    C    B    C    D
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2  NaN  NaN  NaN
3  NaN  NaN  NaN   b3   c3   d3
4  NaN  NaN  NaN   b4   c4   d4

In [205]:
pd.concat([df1, df3])

    A   B
1  a1  b1
2  a2  b2
0  a0  b0
1  a1  b1

### 병합과 조인

In [206]:
df1 = pd.DataFrame({'학생': ['홍길동', '이순신', '임꺽정', '김유신'],
                    '학과': ['경영학과', '교육학과', '컴퓨터학과', '통계학과']})

df1

    학생     학과
0  홍길동   경영학과
1  이순신   교육학과
2  임꺽정  컴퓨터학과
3  김유신   통계학과

In [207]:
df2 = pd.DataFrame({'학생': ['홍길동', '이순신', '임꺽정', '김유신'],
                    '입학연도': [2012, 2016, 2019, 2020]})

df2

    학생  입학연도
0  홍길동  2012
1  이순신  2016
2  임꺽정  2019
3  김유신  2020

In [208]:
df3 = pd.merge(df1, df2)
df3

    학생     학과  입학연도
0  홍길동   경영학과  2012
1  이순신   교육학과  2016
2  임꺽정  컴퓨터학과  2019
3  김유신   통계학과  2020

In [209]:
df4 = pd.DataFrame({'학과': ['경영학과', '교육학과', '컴퓨터학과', '통계학과'],
                    '학과장': ['황희', '장영실', '안창호', '정약용']})
df4

      학과  학과장
0   경영학과   황희
1   교육학과  장영실
2  컴퓨터학과  안창호
3   통계학과  정약용

In [210]:
pd.merge(df3, df4)

    학생     학과  입학연도  학과장
0  홍길동   경영학과  2012   황희
1  이순신   교육학과  2016  장영실
2  임꺽정  컴퓨터학과  2019  안창호
3  김유신   통계학과  2020  정약용

In [211]:
df5 = pd.DataFrame({'학과': ['경영학과', '교육학과', '교육학과', '컴퓨터학과', '컴퓨터학과', '통계학과'],
                    '과목': ['경영개론', '기초수학', '물리학', '프로그래밍', '운영체제', '확률론']})
df5

      학과     과목
0   경영학과   경영개론
1   교육학과   기초수학
2   교육학과    물리학
3  컴퓨터학과  프로그래밍
4  컴퓨터학과   운영체제
5   통계학과    확률론

In [212]:
pd.merge(df1, df5) #공통되는 학과 기준으로 merge됨

    학생     학과     과목
0  홍길동   경영학과   경영개론
1  이순신   교육학과   기초수학
2  이순신   교육학과    물리학
3  임꺽정  컴퓨터학과  프로그래밍
4  임꺽정  컴퓨터학과   운영체제
5  김유신   통계학과    확률론

In [213]:
pd.merge(df1, df2, on='학생')

    학생     학과  입학연도
0  홍길동   경영학과  2012
1  이순신   교육학과  2016
2  임꺽정  컴퓨터학과  2019
3  김유신   통계학과  2020

In [214]:
df6 = pd.DataFrame({'이름' : ['홍길동', '이순신', '임꺽정', '김유신'],
                    '성적' : ['A', 'A+', 'B', 'A+']})
df6

    이름  성적
0  홍길동   A
1  이순신  A+
2  임꺽정   B
3  김유신  A+

In [215]:
pd.merge(df1, df6, left_on="학생", right_on="이름")

    학생     학과   이름  성적
0  홍길동   경영학과  홍길동   A
1  이순신   교육학과  이순신  A+
2  임꺽정  컴퓨터학과  임꺽정   B
3  김유신   통계학과  김유신  A+

In [216]:
pd.merge(df1, df6, left_on="학생", right_on="이름").drop("이름", axis=1)

    학생     학과  성적
0  홍길동   경영학과   A
1  이순신   교육학과  A+
2  임꺽정  컴퓨터학과   B
3  김유신   통계학과  A+

In [217]:
mdf1 = df1.set_index('학생')
mdf2 = df2.set_index('학생')

In [218]:
mdf1

        학과
학생
홍길동   경영학과
이순신   교육학과
임꺽정  컴퓨터학과
김유신   통계학과

In [219]:
mdf2

     입학연도
학생
홍길동  2012
이순신  2016
임꺽정  2019
김유신  2020

In [220]:
pd.merge(mdf1, mdf2, left_index=True, right_index=True)

        학과  입학연도
학생
홍길동   경영학과  2012
이순신   교육학과  2016
임꺽정  컴퓨터학과  2019
김유신   통계학과  2020

In [221]:
mdf1.join(mdf2)

        학과  입학연도
학생
홍길동   경영학과  2012
이순신   교육학과  2016
임꺽정  컴퓨터학과  2019
김유신   통계학과  2020

In [222]:
print(mdf1)
print('---')
print(df6)

        학과
학생
홍길동   경영학과
이순신   교육학과
임꺽정  컴퓨터학과
김유신   통계학과
---
    이름  성적
0  홍길동   A
1  이순신  A+
2  임꺽정   B
3  김유신  A+

In [223]:
pd.merge(mdf1, df6, left_index=True, right_on='이름')

      학과   이름  성적
0   경영학과  홍길동   A
1   교육학과  이순신  A+
2  컴퓨터학과  임꺽정   B
3   통계학과  김유신  A+

In [224]:
df7 = pd.DataFrame({'이름' : ['홍길동', '이순신', '임꺽정'],
                    '주문음식' : ['햄버거', '짜장면', '피자']})
df7

    이름 주문음식
0  홍길동  햄버거
1  이순신  짜장면
2  임꺽정   피자

In [225]:
df8 = pd.DataFrame({'이름' : ['홍길동', '이순신', '김유신'],
                    '주문음료' : ['콜라', '사이다', '커피']})
df8

    이름 주문음료
0  홍길동   콜라
1  이순신  사이다
2  김유신   커피

In [226]:
pd.merge(df7, df8) #누락된것은 무시하고 merge

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신  짜장면  사이다

In [227]:
pd.merge(df7, df8, how='inner')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신  짜장면  사이다

In [228]:
pd.merge(df7, df8, how='outer')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신  짜장면  사이다
2  임꺽정   피자  NaN
3  김유신  NaN   커피

In [229]:
pd.merge(df7, df8, how='left')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신  짜장면  사이다
2  임꺽정   피자  NaN

In [230]:
pd.merge(df7, df8, how='right')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신  짜장면  사이다
2  김유신  NaN   커피

In [231]:
df9 = pd.DataFrame({'이름' : ['홍길동', '이순신', '임꺽정', '김유신'],
                    '순위' : [3, 2, 4, 1]})
df9

    이름  순위
0  홍길동   3
1  이순신   2
2  임꺽정   4
3  김유신   1

In [232]:
df10 = pd.DataFrame({'이름' : ['홍길동', '이순신', '임꺽정', '김유신'],
                    '순위' : [4, 1, 3, 2]})
df10

    이름  순위
0  홍길동   4
1  이순신   1
2  임꺽정   3
3  김유신   2

In [233]:
pd.merge(df9, df10)

Empty DataFrame
Columns: [이름, 순위]
Index: []

In [234]:
pd.merge(df9, df10, on='이름')

    이름  순위_x  순위_y
0  홍길동     3     4
1  이순신     2     1
2  임꺽정     4     3
3  김유신     1     2

In [235]:
pd.merge(df9, df10, on='이름', suffixes=["_인기","_성적"])

    이름  순위_인기  순위_성적
0  홍길동      3      4
1  이순신      2      1
2  임꺽정      4      3
3  김유신      1      2

## 데이터 집계와 그룹 연산

#### 집계 연산(Aggregation)

In [236]:
import pandas as pd
import numpy as np

In [237]:
df = pd.DataFrame([[1, 1.2, np.nan],
                  [2.4, 5.5, 4.2],
                  [np.nan, np.nan, np.nan],
                  [0.44, -3.1, -4.1]], index = [1, 2, 3, 4],
                  columns = ['A', 'B', 'C'])
df

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1

In [238]:
df.head(2)

     A    B    C
1  1.0  1.2  NaN
2  2.4  5.5  4.2

In [239]:
df.tail(2)

      A    B    C
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1

In [240]:
df.describe()

              A     B         C
count  3.000000  3.00  2.000000
mean   1.280000  1.20  0.050000
std    1.009554  4.30  5.868986
min    0.440000 -3.10 -4.100000
25%    0.720000 -0.95 -2.025000
50%    1.000000  1.20  0.050000
75%    1.700000  3.35  2.125000
max    2.400000  5.50  4.200000

In [241]:
print(df)
print('\n')
print(np.argmin(df), np.argmax(df)) # 최소값과 최대값의 색인위치 np.nan이있으면 거기서멈춤 첫번째 np.nan을 반환
print(np.argmin(df))
print(np.argmax(df))

dff =pd.DataFrame([[1,2,3],[4,np.nan,6],[7,8,9]],
                  index = ['A', 'B', 'C'],
                  columns=[1, 2, 3])
print(dff)

print(np.argmax(dff))
print(np.argmin(dff))

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1


2 2
2
2
   1    2  3
A  1  2.0  3
B  4  NaN  6
C  7  8.0  9
4
4

In [242]:
print(df)
print(df.idxmin())
print(df.idxmax()) #색인 값

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1
A    4
B    4
C    4
dtype: int64
A    2
B    2
C    2
dtype: int64

In [243]:
print(df)
print(df.std())
print(df.var())

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1
A    1.009554
B    4.300000
C    5.868986
dtype: float64
A     1.0192
B    18.4900
C    34.4450
dtype: float64

In [244]:
print(df)
print(df.skew()) #왜도
print(df.kurt()) #첨도

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1
A    1.15207
B    0.00000
C        NaN
dtype: float64
A   NaN
B   NaN
C   NaN
dtype: float64

In [245]:
print(df)
print(df.sum())
print(df.cumsum()) #nan있으면 스킵함

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1
A    3.84
B    3.60
C    0.10
dtype: float64
      A    B    C
1  1.00  1.2  NaN
2  3.40  6.7  4.2
3   NaN  NaN  NaN
4  3.84  3.6  0.1

In [246]:
print(df)
print(df.prod())
print(df.cumprod())

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1
A     1.056
B   -20.460
C   -17.220
dtype: float64
       A      B      C
1  1.000   1.20    NaN
2  2.400   6.60   4.20
3    NaN    NaN    NaN
4  1.056 -20.46 -17.22

In [247]:
df.diff()

     A    B   C
1  NaN  NaN NaN
2  1.4  4.3 NaN
3  NaN  NaN NaN
4  NaN  NaN NaN

In [248]:
print(df)
df.quantile() #분위수 defalut는 중앙값

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1

A    1.00
B    1.20
C    0.05
Name: 0.5, dtype: float64

In [249]:
df.pct_change()

          A         B        C
1       NaN       NaN      NaN
2  1.400000  3.583333      NaN
3  0.000000  0.000000  0.00000
4 -0.816667 -1.563636 -1.97619

In [250]:
df.corr()

          A         B    C
A  1.000000  0.970725  1.0
B  0.970725  1.000000  1.0
C  1.000000  1.000000  1.0

In [251]:
df.corrwith(df.B)

A    0.970725
B    1.000000
C    1.000000
dtype: float64

In [252]:
df.cov()

        A       B       C
A  1.0192   4.214   8.134
B  4.2140  18.490  35.690
C  8.1340  35.690  34.445

In [253]:
df['B'].unique()

array([ 1.2,  5.5,  nan, -3.1])

In [254]:
df['A'].value_counts()

1.00    1
2.40    1
0.44    1
Name: A, dtype: int64

### GroupBy 연산

In [255]:
df = pd.DataFrame({'c1': ['a','a', 'b', 'b', 'c', 'c', 'd'],
                   'c2': ['A', 'B','B', 'A', 'D', 'C', 'C'],
                   'c3' : np.random.randint(7),
                   'c4' : np.random.random(7)})
df

  c1 c2  c3        c4
0  a  A   1  0.742139
1  a  B   1  0.151534
2  b  B   1  0.436479
3  b  A   1  0.558562
4  c  D   1  0.722499
5  c  C   1  0.128628
6  d  C   1  0.749553

In [256]:
df.dtypes

c1     object
c2     object
c3      int64
c4    float64
dtype: object

In [257]:
df['c3'].groupby(df['c1']).mean()

c1
a    1.0
b    1.0
c    1.0
d    1.0
Name: c3, dtype: float64

In [258]:
df['c4'].groupby(df['c2']).std()

c2
A    0.129808
B    0.201487
C    0.439061
D         NaN
Name: c4, dtype: float64

In [259]:
df['c4'].groupby([df['c1'], df['c2']]).mean()

c1  c2
a   A     0.742139
    B     0.151534
b   A     0.558562
    B     0.436479
c   C     0.128628
    D     0.722499
d   C     0.749553
Name: c4, dtype: float64

In [260]:
df['c4'].groupby([df['c1'], df['c2']]).mean().unstack()

c2         A         B         C         D
c1
a   0.742139  0.151534       NaN       NaN
b   0.558562  0.436479       NaN       NaN
c        NaN       NaN  0.128628  0.722499
d        NaN       NaN  0.749553       NaN

In [261]:
df.groupby('c1').mean()

     c3        c4
c1
a   1.0  0.446837
b   1.0  0.497521
c   1.0  0.425563
d   1.0  0.749553

In [262]:
df.groupby(['c1', 'c2']).mean()

        c3        c4
c1 c2
a  A   1.0  0.742139
   B   1.0  0.151534
b  A   1.0  0.558562
   B   1.0  0.436479
c  C   1.0  0.128628
   D   1.0  0.722499
d  C   1.0  0.749553

In [263]:
df.groupby(['c1', 'c2']).size()

c1  c2
a   A     1
    B     1
b   A     1
    B     1
c   C     1
    D     1
d   C     1
dtype: int64

In [264]:

print('\n')

for c1, group in df.groupby('c1'):
  print(c1)
  print(group)

a
  c1 c2  c3        c4
0  a  A   1  0.742139
1  a  B   1  0.151534
b
  c1 c2  c3        c4
2  b  B   1  0.436479
3  b  A   1  0.558562
c
  c1 c2  c3        c4
4  c  D   1  0.722499
5  c  C   1  0.128628
d
  c1 c2  c3        c4
6  d  C   1  0.749553

In [265]:
for (c1,c2), group in df.groupby(['c1', 'c2']):
  print((c1, c2))
  print(group)

('a', 'A')
  c1 c2  c3        c4
0  a  A   1  0.742139
('a', 'B')
  c1 c2  c3        c4
1  a  B   1  0.151534
('b', 'A')
  c1 c2  c3        c4
3  b  A   1  0.558562
('b', 'B')
  c1 c2  c3        c4
2  b  B   1  0.436479
('c', 'C')
  c1 c2  c3        c4
5  c  C   1  0.128628
('c', 'D')
  c1 c2  c3        c4
4  c  D   1  0.722499
('d', 'C')
  c1 c2  c3        c4
6  d  C   1  0.749553

In [266]:
df.groupby(['c1', 'c2'])[['c4']].mean() # c1,c2를기준으로 c4의 mean값을 출력

             c4
c1 c2
a  A   0.742139
   B   0.151534
b  A   0.558562
   B   0.436479
c  C   0.128628
   D   0.722499
d  C   0.749553

In [267]:
df.groupby('c1')['c3'].quantile()

c1
a    1.0
b    1.0
c    1.0
d    1.0
Name: c3, dtype: float64

In [268]:
df.groupby('c1')['c3'].count()

c1
a    2
b    2
c    2
d    1
Name: c3, dtype: int64

In [269]:
df.groupby('c1')['c4'].median()

c1
a    0.446837
b    0.497521
c    0.425563
d    0.749553
Name: c4, dtype: float64

In [270]:
df.groupby('c1')['c4'].std()

c1
a    0.417621
b    0.086326
c    0.419931
d         NaN
Name: c4, dtype: float64

In [271]:
df.groupby(['c1', 'c2'])['c4'].agg(['mean', 'min', 'max']) 
# c1, c2를기준으로 c4의 mean min max를 한번에 출력

           mean       min       max
c1 c2
a  A   0.742139  0.742139  0.742139
   B   0.151534  0.151534  0.151534
b  A   0.558562  0.558562  0.558562
   B   0.436479  0.436479  0.436479
c  C   0.128628  0.128628  0.128628
   D   0.722499  0.722499  0.722499
d  C   0.749553  0.749553  0.749553

In [272]:
df.groupby(['c1', 'c2'], as_index=False)['c4'].mean() #index 삭제

  c1 c2        c4
0  a  A  0.742139
1  a  B  0.151534
2  b  A  0.558562
3  b  B  0.436479
4  c  C  0.128628
5  c  D  0.722499
6  d  C  0.749553

In [273]:
df.groupby(['c1', 'c2'], group_keys=False)['c4'].mean()

c1  c2
a   A     0.742139
    B     0.151534
b   A     0.558562
    B     0.436479
c   C     0.128628
    D     0.722499
d   C     0.749553
Name: c4, dtype: float64

In [274]:
def top(df, n=3, column='c1'):
  return df.sort_values(by=column)[-n:]

# c1에대해서 top5를 출력한것 

top(df, n=5)

  c1 c2  c3        c4
2  b  B   1  0.436479
3  b  A   1  0.558562
4  c  D   1  0.722499
5  c  C   1  0.128628
6  d  C   1  0.749553

In [275]:
df.groupby('c1').apply(top) #별도로 만든 함수를 groupby에 적용가능

     c1 c2  c3        c4
c1
a  0  a  A   1  0.742139
   1  a  B   1  0.151534
b  2  b  B   1  0.436479
   3  b  A   1  0.558562
c  4  c  D   1  0.722499
   5  c  C   1  0.128628
d  6  d  C   1  0.749553

### 피벗 테이블(Pivot Table)

In [276]:
df.pivot_table(['c3', 'c4'],
               index = ['c1'],
               columns = ['c2'])

     c3                       c4
c2    A    B    C    D         A         B         C         D
c1
a   1.0  1.0  NaN  NaN  0.742139  0.151534       NaN       NaN
b   1.0  1.0  NaN  NaN  0.558562  0.436479       NaN       NaN
c   NaN  NaN  1.0  1.0       NaN       NaN  0.128628  0.722499
d   NaN  NaN  1.0  NaN       NaN       NaN  0.749553       NaN

In [277]:
df.pivot_table(['c3', 'c4'],
               index = ['c1'],
               columns = ['c2'],
               margins=True) #부분합 총계 margins

      c3                            c4
c2     A    B    C    D  All         A         B         C         D       All
c1
a    1.0  1.0  NaN  NaN  1.0  0.742139  0.151534       NaN       NaN  0.446837
b    1.0  1.0  NaN  NaN  1.0  0.558562  0.436479       NaN       NaN  0.497521
c    NaN  NaN  1.0  1.0  1.0       NaN       NaN  0.128628  0.722499  0.425563
d    NaN  NaN  1.0  NaN  1.0       NaN       NaN  0.749553       NaN  0.749553
All  1.0  1.0  1.0  1.0  1.0  0.650351  0.294007  0.439090  0.722499  0.498485

In [278]:
df.pivot_table(['c3', 'c4'],
               index = ['c1'],
               columns = ['c2'],
               margins=True,
               aggfunc=sum)

      c3                           c4
c2     A    B    C    D All         A         B         C         D       All
c1
a    1.0  1.0  NaN  NaN   2  0.742139  0.151534       NaN       NaN  0.893673
b    1.0  1.0  NaN  NaN   2  0.558562  0.436479       NaN       NaN  0.995042
c    NaN  NaN  1.0  1.0   2       NaN       NaN  0.128628  0.722499  0.851127
d    NaN  NaN  1.0  NaN   1       NaN       NaN  0.749553       NaN  0.749553
All  2.0  2.0  2.0  1.0   7  1.300702  0.588013  0.878181  0.722499  3.489394

In [279]:
df.pivot_table(['c3', 'c4'],
               index = ['c1'],
               columns = ['c2'],
               margins=True,
               aggfunc=sum,
               fill_value=0)

    c3                     c4
c2   A  B  C  D All         A         B         C         D       All
c1
a    1  1  0  0   2  0.742139  0.151534  0.000000  0.000000  0.893673
b    1  1  0  0   2  0.558562  0.436479  0.000000  0.000000  0.995042
c    0  0  1  1   2  0.000000  0.000000  0.128628  0.722499  0.851127
d    0  0  1  0   1  0.000000  0.000000  0.749553  0.000000  0.749553
All  2  2  2  1   7  1.300702  0.588013  0.878181  0.722499  3.489394

In [280]:
pd.crosstab(df.c1, df.c2)

c2  A  B  C  D
c1
a   1  1  0  0
b   1  1  0  0
c   0  0  1  1
d   0  0  1  0

In [281]:
pd.crosstab(df.c1, df.c2, values=df.c3, aggfunc=sum, margins=True)

c2     A    B    C    D  All
c1
a    1.0  1.0  NaN  NaN    2
b    1.0  1.0  NaN  NaN    2
c    NaN  NaN  1.0  1.0    2
d    NaN  NaN  1.0  NaN    1
All  2.0  2.0  2.0  1.0    7

### 범주형(Categorical) 데이터

In [282]:
s = pd.Series(['c1','c2', 'c1','c2', 'c1'] *2)
s

0    c1
1    c2
2    c1
3    c2
4    c1
5    c1
6    c2
7    c1
8    c2
9    c1
dtype: object

In [283]:
pd.unique(s)

array(['c1', 'c2'], dtype=object)

In [284]:
pd.value_counts(s)

c1    6
c2    4
dtype: int64

In [285]:
code = pd.Series([0,1,0,1,0] *2)
code

0    0
1    1
2    0
3    1
4    0
5    0
6    1
7    0
8    1
9    0
dtype: int64

In [286]:
d = pd.Series(['c1', 'c2'])
d

0    c1
1    c2
dtype: object

In [287]:
d.take(code) # code로 범주형을 나타내주는 take

0    c1
1    c2
0    c1
1    c2
0    c1
0    c1
1    c2
0    c1
1    c2
0    c1
dtype: object

In [288]:
df = pd.DataFrame({'id' : np.arange(len(s)),
                   'c' : s,
                   'v' : np.random.randint(1000,5000, size=len(s))})
df

   id   c     v
0   0  c1  3457
1   1  c2  3460
2   2  c1  1905
3   3  c2  4868
4   4  c1  1913
5   5  c1  3063
6   6  c2  3684
7   7  c1  2420
8   8  c2  1124
9   9  c1  3200

In [289]:
c = df['c'].astype('category')
c

0    c1
1    c2
2    c1
3    c2
4    c1
5    c1
6    c2
7    c1
8    c2
9    c1
Name: c, dtype: category
Categories (2, object): ['c1', 'c2']

In [290]:
c.values

['c1', 'c2', 'c1', 'c2', 'c1', 'c1', 'c2', 'c1', 'c2', 'c1']
Categories (2, object): ['c1', 'c2']

In [291]:
c.values.categories

Index(['c1', 'c2'], dtype='object')

In [292]:
c.values.codes

array([0, 1, 0, 1, 0, 0, 1, 0, 1, 0], dtype=int8)

In [293]:
df['c'] = c
df.c

0    c1
1    c2
2    c1
3    c2
4    c1
5    c1
6    c2
7    c1
8    c2
9    c1
Name: c, dtype: category
Categories (2, object): ['c1', 'c2']

In [294]:
c = pd.Categorical(['c1', 'c2', 'c3', 'c1', 'c2'])
c

['c1', 'c2', 'c3', 'c1', 'c2']
Categories (3, object): ['c1', 'c2', 'c3']

In [295]:
categories = ['c1', 'c2', 'c3']
codes = [0, 1, 2, 0, 1]
c =pd.Categorical.from_codes(codes, categories)
c

['c1', 'c2', 'c3', 'c1', 'c2']
Categories (3, object): ['c1', 'c2', 'c3']

In [296]:
pd.Categorical.from_codes(codes, categories, ordered=True)
# 순서를 지정해주는 것 카테고리화하면서

['c1', 'c2', 'c3', 'c1', 'c2']
Categories (3, object): ['c1' < 'c2' < 'c3']

In [297]:
c.as_ordered()

['c1', 'c2', 'c3', 'c1', 'c2']
Categories (3, object): ['c1' < 'c2' < 'c3']

In [298]:
c.codes

array([0, 1, 2, 0, 1], dtype=int8)

In [299]:
c.categories

Index(['c1', 'c2', 'c3'], dtype='object')

In [300]:
c = c.set_categories(['c1','c2', 'c3', 'c4', 'c5'])
c.categories

Index(['c1', 'c2', 'c3', 'c4', 'c5'], dtype='object')

In [301]:
c.value_counts()

c1    2
c2    2
c3    1
c4    0
c5    0
dtype: int64

In [302]:
c[c.isin(['c1', 'c3'])]

['c1', 'c3', 'c1']
Categories (5, object): ['c1', 'c2', 'c3', 'c4', 'c5']

In [303]:
c = c.remove_unused_categories()
c.categories

Index(['c1', 'c2', 'c3'], dtype='object')

## 문자열 연산

#### 문자열 연산자

In [304]:
name_tuple = ['Suan Lee', 'Steven Jobs','Larry Page', 'Elon Musk', None, 'Bill Gates', 'Mark Zuckerberg',
              'Jeff Bezos']
name_tuple

names = pd.Series(name_tuple)
names

0           Suan Lee
1        Steven Jobs
2         Larry Page
3          Elon Musk
4               None
5         Bill Gates
6    Mark Zuckerberg
7         Jeff Bezos
dtype: object

In [305]:
names.str.lower() #문자는 str로 접근

0           suan lee
1        steven jobs
2         larry page
3          elon musk
4               None
5         bill gates
6    mark zuckerberg
7         jeff bezos
dtype: object

In [306]:
names.str.len()

0     8.0
1    11.0
2    10.0
3     9.0
4     NaN
5    10.0
6    15.0
7    10.0
dtype: float64

In [307]:
names.str.split()

0           [Suan, Lee]
1        [Steven, Jobs]
2         [Larry, Page]
3          [Elon, Musk]
4                  None
5         [Bill, Gates]
6    [Mark, Zuckerberg]
7         [Jeff, Bezos]
dtype: object

#### 기타 연산자

In [308]:
names.str[0:4]

0    Suan
1    Stev
2    Larr
3    Elon
4    None
5    Bill
6    Mark
7    Jeff
dtype: object

In [309]:
names.str.split().str.get(-1) #뒷부분만가져오는것

0           Lee
1          Jobs
2          Page
3          Musk
4          None
5         Gates
6    Zuckerberg
7         Bezos
dtype: object

In [310]:
names.str.repeat(2)

0                  Suan LeeSuan Lee
1            Steven JobsSteven Jobs
2              Larry PageLarry Page
3                Elon MuskElon Musk
4                              None
5              Bill GatesBill Gates
6    Mark ZuckerbergMark Zuckerberg
7              Jeff BezosJeff Bezos
dtype: object

In [311]:
names.str.join('*')

0                  S*u*a*n* *L*e*e
1            S*t*e*v*e*n* *J*o*b*s
2              L*a*r*r*y* *P*a*g*e
3                E*l*o*n* *M*u*s*k
4                             None
5              B*i*l*l* *G*a*t*e*s
6    M*a*r*k* *Z*u*c*k*e*r*b*e*r*g
7              J*e*f*f* *B*e*z*o*s
dtype: object

#### 정규표현식

In [312]:
names.str.match('([A-Za-z]+)') #전체가 다알파벳인지아닌지 확인

0    True
1    True
2    True
3    True
4    None
5    True
6    True
7    True
dtype: object

In [313]:
names.str.findall('([A-Za-z]+)') #알파벳들어간거만 출력

0           [Suan, Lee]
1        [Steven, Jobs]
2         [Larry, Page]
3          [Elon, Musk]
4                  None
5         [Bill, Gates]
6    [Mark, Zuckerberg]
7         [Jeff, Bezos]
dtype: object

## 시계열 처리

In [314]:
idx = pd.DatetimeIndex(['2019-01-01', '2020-01-01', '2020-02-01', '2020-02-02',
                        '2020-03-01'])
s = pd.Series([0, 1, 2, 3, 4], index=idx)
s

2019-01-01    0
2020-01-01    1
2020-02-01    2
2020-02-02    3
2020-03-01    4
dtype: int64

In [315]:
s['2020-01-01':]

2020-01-01    1
2020-02-01    2
2020-02-02    3
2020-03-01    4
dtype: int64

In [316]:
s[:'2020-01-01']

2019-01-01    0
2020-01-01    1
dtype: int64

In [317]:
s['2019']

2019-01-01    0
dtype: int64

#### 시계열 데이터 구조

In [318]:
from datetime import datetime
dates = pd.to_datetime(['12-12-2019', datetime(2020,1,1), '2nd of Feb, 2020', 
                        '2020-Mar-4', '20200701'])

dates

DatetimeIndex(['2019-12-12', '2020-01-01', '2020-02-02', '2020-03-04',
               '2020-07-01'],
              dtype='datetime64[ns]', freq=None)

In [319]:
dates.to_period('D') # 기간을나타내는 period로 변경

PeriodIndex(['2019-12-12', '2020-01-01', '2020-02-02', '2020-03-04',
             '2020-07-01'],
            dtype='period[D]')

In [320]:
dates - dates[0] #기간들을 계산해서 나옴 첫번째0번인덱스에서지난날짜 계산해줌

TimedeltaIndex(['0 days', '20 days', '52 days', '83 days', '202 days'], dtype='timedelta64[ns]', freq=None)

In [321]:
pd.date_range('2021-01-01', '2021-07-01')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25',
               '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29',
               '2021-06-30', '2021-07-01'],
              dtype='datetime64[ns]', length=182, freq='D')

In [322]:
pd.date_range('2020-01-01', periods=7) #defalut는 d

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [323]:
pd.date_range('2020-01-01', periods=7, freq='M')

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31'],
              dtype='datetime64[ns]', freq='M')

In [324]:
pd.date_range('2020-01-01', periods=7, freq='H')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00'],
              dtype='datetime64[ns]', freq='H')

In [325]:
idx = pd.to_datetime(['2020-01-01 12:00:00', '2020-01-02 00:00:00'] + [None])
idx

#NaT not a time

DatetimeIndex(['2020-01-01 12:00:00', '2020-01-02 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [326]:
idx[2]

NaT

In [327]:
pd.isnull(idx) # 어디가 null인지 확인

array([False, False,  True])

### 시계열 기본

In [328]:
dates = [datetime(2020,1,1), datetime(2020,1,2), datetime(2020,1,4), datetime(2020,1,7),
         datetime(2020,1,10), datetime(2020,1,11), datetime(2020,1,15)]
dates

[datetime.datetime(2020, 1, 1, 0, 0),
 datetime.datetime(2020, 1, 2, 0, 0),
 datetime.datetime(2020, 1, 4, 0, 0),
 datetime.datetime(2020, 1, 7, 0, 0),
 datetime.datetime(2020, 1, 10, 0, 0),
 datetime.datetime(2020, 1, 11, 0, 0),
 datetime.datetime(2020, 1, 15, 0, 0)]

In [329]:
ts = pd.Series(np.random.randn(7), index=dates)
ts

2020-01-01   -1.196157
2020-01-02   -0.319504
2020-01-04   -0.641121
2020-01-07    0.176751
2020-01-10   -0.283626
2020-01-11    1.270548
2020-01-15    1.327644
dtype: float64

In [330]:
ts.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-04', '2020-01-07',
               '2020-01-10', '2020-01-11', '2020-01-15'],
              dtype='datetime64[ns]', freq=None)

In [331]:
ts[ts.index[2]]

-0.6411212223261022

In [332]:
ts['20200104']

-0.6411212223261022

In [333]:
ts['1/4/2020']

-0.6411212223261022

In [334]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('2017-10-01', periods=1000))
ts

2017-10-01    1.658074
2017-10-02   -0.412100
2017-10-03    0.428502
2017-10-04   -0.500153
2017-10-05    1.194126
                ...
2020-06-22   -0.960840
2020-06-23   -0.472285
2020-06-24    0.676609
2020-06-25   -1.304062
2020-06-26   -0.486796
Freq: D, Length: 1000, dtype: float64

In [335]:
ts['2020']

2020-01-01    0.585049
2020-01-02    0.880505
2020-01-03   -0.958485
2020-01-04   -1.547739
2020-01-05    0.166939
                ...
2020-06-22   -0.960840
2020-06-23   -0.472285
2020-06-24    0.676609
2020-06-25   -1.304062
2020-06-26   -0.486796
Freq: D, Length: 178, dtype: float64

In [336]:
ts['2020-06']

2020-06-01   -1.730793
2020-06-02    0.638896
2020-06-03    0.713633
2020-06-04   -0.666240
2020-06-05    0.204961
2020-06-06    1.910015
2020-06-07    0.387434
2020-06-08   -1.323976
2020-06-09   -0.188849
2020-06-10    1.374636
2020-06-11   -0.155310
2020-06-12    1.474135
2020-06-13   -0.797836
2020-06-14   -0.332277
2020-06-15    0.689262
2020-06-16    0.394191
2020-06-17    0.073624
2020-06-18    0.034122
2020-06-19   -0.183119
2020-06-20    0.011438
2020-06-21   -1.420260
2020-06-22   -0.960840
2020-06-23   -0.472285
2020-06-24    0.676609
2020-06-25   -1.304062
2020-06-26   -0.486796
Freq: D, dtype: float64

In [337]:
ts[datetime(2020,6,20):]

2020-06-20    0.011438
2020-06-21   -1.420260
2020-06-22   -0.960840
2020-06-23   -0.472285
2020-06-24    0.676609
2020-06-25   -1.304062
2020-06-26   -0.486796
Freq: D, dtype: float64

In [338]:
ts['2020-06-10':'2020-06-20']

2020-06-10    1.374636
2020-06-11   -0.155310
2020-06-12    1.474135
2020-06-13   -0.797836
2020-06-14   -0.332277
2020-06-15    0.689262
2020-06-16    0.394191
2020-06-17    0.073624
2020-06-18    0.034122
2020-06-19   -0.183119
2020-06-20    0.011438
Freq: D, dtype: float64

In [339]:
tdf = pd.DataFrame(np.random.randn(1000,4),
                   index=pd.date_range('2017-10-01', periods=1000),
                   columns=['A','B','C','D'])
tdf

                   A         B         C         D
2017-10-01  1.826912  1.227468  1.104548 -1.727455
2017-10-02  0.824830  1.603204  0.213628 -2.068243
2017-10-03 -1.969915  2.255829 -2.591458  0.472677
2017-10-04  0.511125  1.062836  1.292596  0.465472
2017-10-05  0.245635 -0.645616  1.283901 -1.630023
...              ...       ...       ...       ...
2020-06-22  0.224406 -0.009822  0.069995  0.687453
2020-06-23 -0.052023 -0.215563  1.216248  1.594985
2020-06-24  0.953157 -2.835255  0.951462  2.260975
2020-06-25 -0.317362 -0.734644  1.038463  0.329635
2020-06-26  1.037253 -0.178048 -0.617096 -1.521790

[1000 rows x 4 columns]

In [340]:
tdf['2020']

C:\Users\ps712\AppData\Local\Temp/ipykernel_23188/1492595294.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  tdf['2020']

                   A         B         C         D
2020-01-01 -0.834370  1.056597  0.049217 -0.022912
2020-01-02 -1.349348  0.739378 -0.029997  1.239232
2020-01-03 -0.785443  1.147042 -1.360084  0.656481
2020-01-04  1.051609  0.062736 -0.116354 -0.131160
2020-01-05 -1.913841  0.618819  0.502767 -0.364907
...              ...       ...       ...       ...
2020-06-22  0.224406 -0.009822  0.069995  0.687453
2020-06-23 -0.052023 -0.215563  1.216248  1.594985
2020-06-24  0.953157 -2.835255  0.951462  2.260975
2020-06-25 -0.317362 -0.734644  1.038463  0.329635
2020-06-26  1.037253 -0.178048 -0.617096 -1.521790

[178 rows x 4 columns]

In [341]:
tdf.loc['2020-06']

                   A         B         C         D
2020-06-01 -0.587989 -0.935717 -0.773306  1.055187
2020-06-02  0.749743 -0.723869 -0.570618 -0.547695
2020-06-03 -0.181753 -0.039692 -0.308532 -0.017213
2020-06-04  0.201358 -0.495906 -0.947412  0.518393
2020-06-05 -0.742485  1.259932 -0.864904  0.311225
2020-06-06 -1.086839 -1.679975 -0.409889 -0.111363
2020-06-07  0.582067 -0.713825  1.630571  1.246913
2020-06-08 -0.176639 -0.037142  0.529068  0.626217
2020-06-09 -0.103944  0.506794  0.289543 -1.977479
2020-06-10  0.328560 -0.858417 -1.083611  0.105465
2020-06-11  0.773849  0.435771 -0.371682 -1.367932
2020-06-12  0.905660  0.525179 -0.973280 -0.306209
2020-06-13 -0.486601  1.039839  0.896773 -1.266399
2020-06-14 -0.357439  0.643291  2.100148 -1.123899
2020-06-15 -0.373273  0.894037  0.309530 -1.656258
2020-06-16  0.048316 -0.855391  1.038768 -0.203925
2020-06-17  0.620774  1.157465  0.408358  1.798387
2020-06-18  0.878599 -0.408308 -2.151767 -3.137603
2020-06-19  0.620971 -0.552455  0.022991  0.098572
2020-06-20  0.713187  1.121630 -0.255944 -0.560152
2020-06-21  0.150761 -0.480337  2.562935 -2.004711
2020-06-22  0.224406 -0.009822  0.069995  0.687453
2020-06-23 -0.052023 -0.215563  1.216248  1.594985
2020-06-24  0.953157 -2.835255  0.951462  2.260975
2020-06-25 -0.317362 -0.734644  1.038463  0.329635
2020-06-26  1.037253 -0.178048 -0.617096 -1.521790

In [342]:
tdf['2020-06-20':]

                   A         B         C         D
2020-06-20  0.713187  1.121630 -0.255944 -0.560152
2020-06-21  0.150761 -0.480337  2.562935 -2.004711
2020-06-22  0.224406 -0.009822  0.069995  0.687453
2020-06-23 -0.052023 -0.215563  1.216248  1.594985
2020-06-24  0.953157 -2.835255  0.951462  2.260975
2020-06-25 -0.317362 -0.734644  1.038463  0.329635
2020-06-26  1.037253 -0.178048 -0.617096 -1.521790

In [343]:
tdf['C']

2017-10-01    1.104548
2017-10-02    0.213628
2017-10-03   -2.591458
2017-10-04    1.292596
2017-10-05    1.283901
                ...
2020-06-22    0.069995
2020-06-23    1.216248
2020-06-24    0.951462
2020-06-25    1.038463
2020-06-26   -0.617096
Freq: D, Name: C, Length: 1000, dtype: float64

In [344]:
ts = pd.Series(np.random.randn(10), index=pd.DatetimeIndex(['2020-01-01', '2020-01-01',
                                                            '2020-01-02', '2020-01-02',
                                                            '2020-01-03', '2020-01-04',
                                                            '2020-01-05', '2020-01-05',
                                                            '2020-01-06', '2020-01-07']))
ts

2020-01-01    1.208520
2020-01-01   -0.730330
2020-01-02   -0.950083
2020-01-02    1.613687
2020-01-03   -1.571368
2020-01-04    0.197820
2020-01-05   -0.191548
2020-01-05   -0.950197
2020-01-06    0.967975
2020-01-07    0.053248
dtype: float64

In [345]:
ts.index.is_unique

False

In [346]:
ts['2020-01-01']

2020-01-01    1.20852
2020-01-01   -0.73033
dtype: float64

In [347]:
ts.groupby(level=0).mean() #날짜가 동일한것은 집계해서 평균으로 보여줌

2020-01-01    0.239095
2020-01-02    0.331802
2020-01-03   -1.571368
2020-01-04    0.197820
2020-01-05   -0.570873
2020-01-06    0.967975
2020-01-07    0.053248
dtype: float64

In [348]:
pd.date_range('2020-01-01', '2020-07-01')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29',
               '2020-06-30', '2020-07-01'],
              dtype='datetime64[ns]', length=183, freq='D')

In [349]:
pd.date_range(start='2020-01-01', periods=10)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [350]:
pd.date_range(end='2020-07-01', periods=10)

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29',
               '2020-06-30', '2020-07-01'],
              dtype='datetime64[ns]', freq='D')

In [351]:
pd.date_range('2020-07-01', '2020-07-09', freq='B')
# freq business day만 표시

DatetimeIndex(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-06',
               '2020-07-07', '2020-07-08', '2020-07-09'],
              dtype='datetime64[ns]', freq='B')

### 주기와 오프셋

In [352]:
pd.timedelta_range(0, periods=12, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [353]:
pd.timedelta_range(0, periods=60, freq='T')

TimedeltaIndex(['0 days 00:00:00', '0 days 00:01:00', '0 days 00:02:00',
                '0 days 00:03:00', '0 days 00:04:00', '0 days 00:05:00',
                '0 days 00:06:00', '0 days 00:07:00', '0 days 00:08:00',
                '0 days 00:09:00', '0 days 00:10:00', '0 days 00:11:00',
                '0 days 00:12:00', '0 days 00:13:00', '0 days 00:14:00',
                '0 days 00:15:00', '0 days 00:16:00', '0 days 00:17:00',
                '0 days 00:18:00', '0 days 00:19:00', '0 days 00:20:00',
                '0 days 00:21:00', '0 days 00:22:00', '0 days 00:23:00',
                '0 days 00:24:00', '0 days 00:25:00', '0 days 00:26:00',
                '0 days 00:27:00', '0 days 00:28:00', '0 days 00:29:00',
                '0 days 00:30:00', '0 days 00:31:00', '0 days 00:32:00',
                '0 days 00:33:00', '0 days 00:34:00', '0 days 00:35:00',
                '0 days 00:36:00', '0 days 00:37:00', '0 days 00:38:00',
                '0 days 00:39:00', '0 days 00:40:00', '0 days 00:41:00',
                '0 days 00:42:00', '0 days 00:43:00', '0 days 00:44:00',
                '0 days 00:45:00', '0 days 00:46:00', '0 days 00:47:00',
                '0 days 00:48:00', '0 days 00:49:00', '0 days 00:50:00',
                '0 days 00:51:00', '0 days 00:52:00', '0 days 00:53:00',
                '0 days 00:54:00', '0 days 00:55:00', '0 days 00:56:00',
                '0 days 00:57:00', '0 days 00:58:00', '0 days 00:59:00'],
               dtype='timedelta64[ns]', freq='T')

In [354]:
pd.timedelta_range(0, periods=10, freq='1H30T')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:30:00', '0 days 03:00:00',
                '0 days 04:30:00', '0 days 06:00:00', '0 days 07:30:00',
                '0 days 09:00:00', '0 days 10:30:00', '0 days 12:00:00',
                '0 days 13:30:00'],
               dtype='timedelta64[ns]', freq='90T')

In [355]:
pd.date_range('2020-01-01', periods=20, freq='B')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28'],
              dtype='datetime64[ns]', freq='B')

In [356]:
pd.date_range('2020-01-01', periods=30, freq='2H')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 02:00:00',
               '2020-01-01 04:00:00', '2020-01-01 06:00:00',
               '2020-01-01 08:00:00', '2020-01-01 10:00:00',
               '2020-01-01 12:00:00', '2020-01-01 14:00:00',
               '2020-01-01 16:00:00', '2020-01-01 18:00:00',
               '2020-01-01 20:00:00', '2020-01-01 22:00:00',
               '2020-01-02 00:00:00', '2020-01-02 02:00:00',
               '2020-01-02 04:00:00', '2020-01-02 06:00:00',
               '2020-01-02 08:00:00', '2020-01-02 10:00:00',
               '2020-01-02 12:00:00', '2020-01-02 14:00:00',
               '2020-01-02 16:00:00', '2020-01-02 18:00:00',
               '2020-01-02 20:00:00', '2020-01-02 22:00:00',
               '2020-01-03 00:00:00', '2020-01-03 02:00:00',
               '2020-01-03 04:00:00', '2020-01-03 06:00:00',
               '2020-01-03 08:00:00', '2020-01-03 10:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [357]:
pd.date_range('2020-01-01', periods=20, freq='S')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 00:00:01',
               '2020-01-01 00:00:02', '2020-01-01 00:00:03',
               '2020-01-01 00:00:04', '2020-01-01 00:00:05',
               '2020-01-01 00:00:06', '2020-01-01 00:00:07',
               '2020-01-01 00:00:08', '2020-01-01 00:00:09',
               '2020-01-01 00:00:10', '2020-01-01 00:00:11',
               '2020-01-01 00:00:12', '2020-01-01 00:00:13',
               '2020-01-01 00:00:14', '2020-01-01 00:00:15',
               '2020-01-01 00:00:16', '2020-01-01 00:00:17',
               '2020-01-01 00:00:18', '2020-01-01 00:00:19'],
              dtype='datetime64[ns]', freq='S')

### 시프트(Shift)

In [358]:
ts = pd.Series(np.random.randn(5),
               index=pd.date_range('2020-01-01', periods=5, freq='B'))
ts

2020-01-01    1.017577
2020-01-02   -1.702679
2020-01-03   -0.138632
2020-01-06   -0.109434
2020-01-07   -0.020655
Freq: B, dtype: float64

In [359]:
ts.shift(1) #값이 이동

2020-01-01         NaN
2020-01-02    1.017577
2020-01-03   -1.702679
2020-01-06   -0.138632
2020-01-07   -0.109434
Freq: B, dtype: float64

In [360]:
ts.shift(3)

2020-01-01         NaN
2020-01-02         NaN
2020-01-03         NaN
2020-01-06    1.017577
2020-01-07   -1.702679
Freq: B, dtype: float64

In [361]:
ts.shift(-2)

2020-01-01   -0.138632
2020-01-02   -0.109434
2020-01-03   -0.020655
2020-01-06         NaN
2020-01-07         NaN
Freq: B, dtype: float64

In [362]:
ts.shift(3, freq='B')

2020-01-06    1.017577
2020-01-07   -1.702679
2020-01-08   -0.138632
2020-01-09   -0.109434
2020-01-10   -0.020655
Freq: B, dtype: float64

In [363]:
ts.shift(2, freq='W')

2020-01-12    1.017577
2020-01-12   -1.702679
2020-01-12   -0.138632
2020-01-19   -0.109434
2020-01-19   -0.020655
dtype: float64

### 시간대 처리

* 국제표준시(Coordinated Universal Time, UTC)를 기준으로 떨어진 거리만큼 오프셋으로 시간대 처리
* 전 세계의 시간대 정보를 모아놓은 올슨 데이터베이스를 활용한 라이브러리인 `pytz` 사용

In [364]:
import pytz
pytz.common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [365]:
tz = pytz.timezone('Asia/Seoul')

In [366]:
dinx = pd.date_range('2020-01-01 09:00', periods=7, freq='B')
ts = pd.Series(np.random.randn(len(dinx)), index=dinx)
ts

2020-01-01 09:00:00   -1.055832
2020-01-02 09:00:00   -0.423598
2020-01-03 09:00:00   -0.653789
2020-01-06 09:00:00   -1.523703
2020-01-07 09:00:00   -0.265503
2020-01-08 09:00:00    0.585435
2020-01-09 09:00:00   -0.292089
Freq: B, dtype: float64

In [367]:
pd.date_range('2020-01-01 09:00', periods=7, freq='B', tz='UTC')

DatetimeIndex(['2020-01-01 09:00:00+00:00', '2020-01-02 09:00:00+00:00',
               '2020-01-03 09:00:00+00:00', '2020-01-06 09:00:00+00:00',
               '2020-01-07 09:00:00+00:00', '2020-01-08 09:00:00+00:00',
               '2020-01-09 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [368]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2020-01-01 09:00:00+00:00   -1.055832
2020-01-02 09:00:00+00:00   -0.423598
2020-01-03 09:00:00+00:00   -0.653789
2020-01-06 09:00:00+00:00   -1.523703
2020-01-07 09:00:00+00:00   -0.265503
2020-01-08 09:00:00+00:00    0.585435
2020-01-09 09:00:00+00:00   -0.292089
Freq: B, dtype: float64

In [369]:
ts_utc.index

DatetimeIndex(['2020-01-01 09:00:00+00:00', '2020-01-02 09:00:00+00:00',
               '2020-01-03 09:00:00+00:00', '2020-01-06 09:00:00+00:00',
               '2020-01-07 09:00:00+00:00', '2020-01-08 09:00:00+00:00',
               '2020-01-09 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [370]:
ts_utc.tz_convert('Asia/Seoul')

2020-01-01 18:00:00+09:00   -1.055832
2020-01-02 18:00:00+09:00   -0.423598
2020-01-03 18:00:00+09:00   -0.653789
2020-01-06 18:00:00+09:00   -1.523703
2020-01-07 18:00:00+09:00   -0.265503
2020-01-08 18:00:00+09:00    0.585435
2020-01-09 18:00:00+09:00   -0.292089
Freq: B, dtype: float64

In [371]:
ts_seoul = ts.tz_localize('Asia/Seoul')
ts_seoul

2020-01-01 09:00:00+09:00   -1.055832
2020-01-02 09:00:00+09:00   -0.423598
2020-01-03 09:00:00+09:00   -0.653789
2020-01-06 09:00:00+09:00   -1.523703
2020-01-07 09:00:00+09:00   -0.265503
2020-01-08 09:00:00+09:00    0.585435
2020-01-09 09:00:00+09:00   -0.292089
dtype: float64

In [372]:
ts_seoul.tz_convert('UTC')

2020-01-01 00:00:00+00:00   -1.055832
2020-01-02 00:00:00+00:00   -0.423598
2020-01-03 00:00:00+00:00   -0.653789
2020-01-06 00:00:00+00:00   -1.523703
2020-01-07 00:00:00+00:00   -0.265503
2020-01-08 00:00:00+00:00    0.585435
2020-01-09 00:00:00+00:00   -0.292089
dtype: float64

In [373]:
ts_seoul.tz_convert('Europe/Berlin')

2020-01-01 01:00:00+01:00   -1.055832
2020-01-02 01:00:00+01:00   -0.423598
2020-01-03 01:00:00+01:00   -0.653789
2020-01-06 01:00:00+01:00   -1.523703
2020-01-07 01:00:00+01:00   -0.265503
2020-01-08 01:00:00+01:00    0.585435
2020-01-09 01:00:00+01:00   -0.292089
dtype: float64

In [374]:
ts.index.tz_localize('America/New_York')

DatetimeIndex(['2020-01-01 09:00:00-05:00', '2020-01-02 09:00:00-05:00',
               '2020-01-03 09:00:00-05:00', '2020-01-06 09:00:00-05:00',
               '2020-01-07 09:00:00-05:00', '2020-01-08 09:00:00-05:00',
               '2020-01-09 09:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', freq=None)

In [375]:
stamp = pd.Timestamp('2020-01-01 12:00')
stamp_utc = stamp.tz_localize('UTC')
stamp_utc

Timestamp('2020-01-01 12:00:00+0000', tz='UTC')

In [376]:
stamp_utc.value

1577880000000000000

In [377]:
stamp_utc.tz_convert('Asia/Seoul')

Timestamp('2020-01-01 21:00:00+0900', tz='Asia/Seoul')

In [378]:
stamp_utc.tz_convert('Asia/Seoul').value

1577880000000000000

In [379]:
stamp_ny = pd.Timestamp('2020-01-01 12:00', tz='America/New_York')
stamp_ny

Timestamp('2020-01-01 12:00:00-0500', tz='America/New_York')

In [380]:
stamp_utc.value

1577880000000000000

In [381]:
stamp_ny.value

1577898000000000000

In [382]:
stamp_utc.tz_convert('Asia/Shanghai')

Timestamp('2020-01-01 20:00:00+0800', tz='Asia/Shanghai')

In [383]:
stamp = pd.Timestamp('2020-01-01 12:00', tz='Asia/Seoul')
stamp

Timestamp('2020-01-01 12:00:00+0900', tz='Asia/Seoul')

In [384]:
from pandas.tseries.offsets import Hour
stamp + Hour()

Timestamp('2020-01-01 13:00:00+0900', tz='Asia/Seoul')

In [385]:
stamp + 3 * Hour()

Timestamp('2020-01-01 15:00:00+0900', tz='Asia/Seoul')

In [386]:
ts_utc

2020-01-01 09:00:00+00:00   -1.055832
2020-01-02 09:00:00+00:00   -0.423598
2020-01-03 09:00:00+00:00   -0.653789
2020-01-06 09:00:00+00:00   -1.523703
2020-01-07 09:00:00+00:00   -0.265503
2020-01-08 09:00:00+00:00    0.585435
2020-01-09 09:00:00+00:00   -0.292089
Freq: B, dtype: float64

In [387]:
ts1 = ts_utc[:5].tz_convert('Europe/Berlin')
ts2 = ts_utc[2:].tz_convert('America/New_York')

ts =ts1 +ts2

In [388]:
ts.index #다른시간대로 더하면 utc로바뀌어서 더해짐

DatetimeIndex(['2020-01-01 09:00:00+00:00', '2020-01-02 09:00:00+00:00',
               '2020-01-03 09:00:00+00:00', '2020-01-06 09:00:00+00:00',
               '2020-01-07 09:00:00+00:00', '2020-01-08 09:00:00+00:00',
               '2020-01-09 09:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

### 기간과 기간 연산

In [389]:
p = pd.Period(2020, freq='A-JAN')
p

Period('2020', 'A-JAN')

In [390]:
p + 2

Period('2022', 'A-JAN')

In [391]:
p - 3

Period('2017', 'A-JAN')

In [392]:
p1 = pd.Period(2010, freq='A-JAN')
p2 = pd.Period(2020, freq='A-JAN')

p2 - p1

In [393]:
pr =pd.period_range('2020-01-01', '2020-06-30', freq='M')
pr

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06'], dtype='period[M]')

In [394]:
pd.Series(np.random.randn(6), index = pr)

2020-01   -0.465898
2020-02    1.336170
2020-03   -0.662415
2020-04    2.029757
2020-05    0.787459
2020-06   -0.079325
Freq: M, dtype: float64

In [395]:
pidx = pd.PeriodIndex(['2020-1', '2020-2', '2020-4'], freq='M')
pidx

PeriodIndex(['2020-01', '2020-02', '2020-04'], dtype='period[M]')

In [396]:
p = pd.Period('2020', freq='A-FEB')
p

Period('2020', 'A-FEB')

In [397]:
p.asfreq('M', how='start')

Period('2019-03', 'M')

In [398]:
p.asfreq('M', how='end')

Period('2020-02', 'M')

In [399]:
p = pd.Period('2020', freq='A-OCT')
p

Period('2020', 'A-OCT')

In [400]:
p.asfreq('M', how='start')

Period('2019-11', 'M')

In [401]:
p.asfreq('M', how='end')

Period('2020-10', 'M')

In [402]:
pr = pd.period_range('2010', '2020', freq='A-JAN')
ts = pd.Series(np.random.randn(len(pr)), index=pr)
ts

2010    2.128870
2011    0.933794
2012   -0.607598
2013   -1.827301
2014   -0.451461
2015   -0.066650
2016    0.530748
2017    0.123180
2018    0.167093
2019    0.449503
2020    1.179119
Freq: A-JAN, dtype: float64

In [403]:
ts.asfreq('M', how='start')

2009-02    2.128870
2010-02    0.933794
2011-02   -0.607598
2012-02   -1.827301
2013-02   -0.451461
2014-02   -0.066650
2015-02    0.530748
2016-02    0.123180
2017-02    0.167093
2018-02    0.449503
2019-02    1.179119
Freq: M, dtype: float64

In [404]:
ts.asfreq('M', how='end')

2010-01    2.128870
2011-01    0.933794
2012-01   -0.607598
2013-01   -1.827301
2014-01   -0.451461
2015-01   -0.066650
2016-01    0.530748
2017-01    0.123180
2018-01    0.167093
2019-01    0.449503
2020-01    1.179119
Freq: M, dtype: float64

In [405]:
ts.asfreq('B', how='end')

2010-01-29    2.128870
2011-01-31    0.933794
2012-01-31   -0.607598
2013-01-31   -1.827301
2014-01-31   -0.451461
2015-01-30   -0.066650
2016-01-29    0.530748
2017-01-31    0.123180
2018-01-31    0.167093
2019-01-31    0.449503
2020-01-31    1.179119
Freq: B, dtype: float64

In [406]:
p = pd.Period('2020Q2', freq='Q-JAN')
p

Period('2020Q2', 'Q-JAN')

In [407]:
p.asfreq('D', 'start')

Period('2019-05-01', 'D')

In [408]:
p.asfreq('D', 'end')

Period('2019-07-31', 'D')

In [409]:
pr = pd.period_range('2019Q3', '2020Q3', freq='Q-JAN')
ts = pd.Series(np.arange(len(pr)), index=pr)
ts

2019Q3    0
2019Q4    1
2020Q1    2
2020Q2    3
2020Q3    4
Freq: Q-JAN, dtype: int32

In [410]:
pr = pd.date_range('2020-01-01',periods=5, freq='Q-JAN')
ts = pd.Series(np.random.randn(5), index=pr)
ts

2020-01-31   -0.625874
2020-04-30   -0.476925
2020-07-31   -0.843615
2020-10-31    0.342186
2021-01-31   -0.638239
Freq: Q-JAN, dtype: float64

In [411]:
ts.to_period()

2020Q4   -0.625874
2021Q1   -0.476925
2021Q2   -0.843615
2021Q3    0.342186
2021Q4   -0.638239
Freq: Q-JAN, dtype: float64

In [412]:
pr = pd.date_range('2020-01-01', periods=5, freq='D')
ts = pd.Series(np.random.randn(5), index=pr)
ts

2020-01-01    0.751109
2020-01-02   -0.626304
2020-01-03    0.136163
2020-01-04   -0.042517
2020-01-05   -1.199964
Freq: D, dtype: float64

In [413]:
p = ts.to_period('M')
paa

NameError: name 'paa' is not defined

In [ ]:
p.to_timestamp(how='start')

### 리샘플링(Resampling)

* 리샘플링(Resampling): 시계열의 빈도 변환
* 다운샘플링(Down sampling): 상위 빈도 데이터를 하위 빈도 데이터로 집계
* 업샘플링(Up sampling): 하위 빈도 데이터를 상위 빈도 데이터로 집계

In [ ]:
dr = pd.date_range('2020-01-01', periods=200, freq='D')
ts = pd.Series(np.random.randn(len(dr)), index=dr)
ts

In [ ]:
ts.resample('M').mean()

In [ ]:
ts.resample('M', kind='period').mean()

In [ ]:
 dr = pd.date_range('2020-01-01', periods=10, freq='T')
 ts = pd.Series(np.arange(10), index=dr)
 ts

In [ ]:
ts.resample('2T', closed='left').sum() #2분씩 리샘플링해서 합해서 보여줌

In [ ]:
ts.resample('2T', closed='right').sum() #기준이 right 23:58초까지 포함함

In [ ]:
ts.resample('2T', closed='right',label='right').sum() #label도 설정

In [ ]:
ts.resample('2T', closed='right',label='right', loffset='-1s').sum()

In [ ]:
ts.resample('2T').ohlc() #시가 고가저가 종가

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4), 
                  index=pd.date_range('2019-10-01', periods=10,freq='M'),
                  columns=(['C1','C2','C3','C4']))
df

In [ ]:
df.resample('Y').asfreq()

In [ ]:
df.resample('W-FRI').asfreq()

In [ ]:
df.resample('H').asfreq()

In [ ]:
df.resample('H').ffill()

In [ ]:
df.resample('H').ffill(limit=2)

In [ ]:
df.resample('Q-DEC').mean()

In [ ]:
df.resample('Y').mean()

### 무빙 윈도우(Moving Window)

In [ ]:
df = pd.DataFrame(np.random.randn(300,4),
                  index=pd.date_range('2020-01-01', periods=300, freq='D'),
                  columns=['C1', 'C2', 'C3','C4'])
df

In [ ]:
df.rolling(30).mean()

In [ ]:
df.rolling(30).mean().plot()

In [ ]:
df.rolling(60).mean().plot()

In [ ]:
df.C1.rolling(60, min_periods=10).std().plot()

In [ ]:
df.rolling(60, min_periods=10).std()[10:50].plot()

In [ ]:
df.rolling(60, min_periods=10).std().expanding().mean().plot()

In [ ]:
df.rolling(60).mean().plot(logy=True)

In [ ]:
df.rolling('20D').mean().plot()

In [ ]:
df.C1.rolling(30, min_periods=20).mean().plot(style='--', label='Simple MA')
df.C1.ewm(span=30).mean().plot(style='-', label='EWMA')

In [ ]:
df.C1.rolling(100, min_periods=50).corr(df.C3).plot()

## 데이터 읽기 및 저장

### 텍스트 파일 읽기/쓰기

In [ ]:
%%writefile example1.csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv

In [ ]:
!ls

In [ ]:
pd.read_csv('example1.csv')

In [ ]:
%%writefile example2.csv
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv

In [ ]:
pd.read_csv('example2.csv', header=None)

In [ ]:
pd.read_csv('example2.csv', names=['a','b','c','d','e','text'])

In [ ]:
pd.read_csv('example2.csv', names=['a','b','c','d','e','text'], index_col='text')

In [ ]:
%%writefile exmaple3.txt
    a     b      c
1  0.1.  0.2    0.3
2  0.2.  0.5  0.6
3.  0.7.  0.8.   0.9

In [ ]:
pd.read_table('exmaple3.txt', sep='\s+') #space 로구분된것을 구분해서 가져와줌

In [ ]:
%%writefile example4.csv
#파일설명
a, b, c, d, e, text
#컬럼은 ㅁㅇㄹㄴㅇㄹ
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv

In [ ]:
pd.read_csv('example4.csv', skiprows=[0,2])

In [ ]:
%%writefile example5.csv
a, b, NA, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, Null, 10, pandas
11, 12, 13, 14, 15, csv

In [ ]:
pd.read_csv('example5.csv')

In [ ]:
%%writefile example6.csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, Null, 10, pandas
11, 12, 13, 14, 15, csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, Null, 10, pandas
11, 12, 13, 14, 15, csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, Null, 10, pandas
11, 12, 13, 14, 15, csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, Null, 10, pandas
11, 12, 13, 14, 15, csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, Null, 10, pandas
11, 12, 13, 14, 15, csv

In [ ]:
pd.read_csv('example6.csv', nrows=5)

In [ ]:
df = pd.read_csv('example6.csv')
df

In [ ]:
df.to_csv('output.csv')

In [ ]:
!cat output.csv

In [ ]:
dr = pd.date_range('2020-01-01', periods=10)
ts = pd.Series(np.arange(10), index=dr)
ts

In [ ]:
ts.to_csv('ts.csv', header=['value'])

In [ ]:
!cat ts.csv

In [ ]:
%%writefile example.json
[{"a":1, "b":2, "c":3,"d":4,"e":5},
 {"a":6, "b":7, "c":8,"d":9,"e":10},
 {"a":11, "b":12, "c":13,"d":14,"e":15}]

In [ ]:
!cat example.json

In [ ]:
pd.read_json('example.json')

In [ ]:
ts.to_json('output.json')

In [ ]:
!cat output.json

In [ ]:
df.to_json('output.json')

In [ ]:
!cat output.json

### 이진 데이터 파일 읽기/쓰기

In [ ]:
df = pd.read_csv('example1.csv')
df

In [ ]:
df.to_pickle('df_pickle')
pd.read_pickle('df_pickle')

In [ ]:
df = pd.DataFrame({'a': np.random.randn(100),
                   'b': np.random.randn(100),
                   'c': np.random.randn(100),})
df

In [ ]:
h = pd.HDFStore('data.h5')
h['obj1'] = df
h['obj1_col1'] =df['a']
h['obj1_col2'] =df['b']
h['obj1_col3'] =df['c']
h

In [ ]:
h['obj1']

In [ ]:
h.put('obj2', df, format = 'table')

In [ ]:
h.select('obj2', where=['index >50 and index <= 60'])

In [ ]:
h.close()

In [ ]:
df.to_hdf('data.h5', 'obj3', format='table')

In [ ]:
pd.read_hdf('data.h5', 'obj3', where=['index < 10'])

In [ ]:
df.to_excel('example.xlsx', 'sheet1')

In [ ]:
!ls

In [ ]:
pd.read_excel('example.xlsx' , 'sheet1')

## 데이터 정제

### 누락값 처리

* 대부분의 실제 데이터들은 정제되지 않고 누락값들이 존재
* 서로 다른 데이터들은 다른 형태의 결측을 가짐
* 결측 데이터는 `null`, `NaN`, `NA`로 표기

#### None: 파이썬 누락 데이터

In [ ]:
a = np.array([1,2,None, 4,5])
a

In [ ]:
# a.sum()

#### NaN: 누락된 수치 데이터

In [ ]:
a =np.array([1,2, np.nan, 4,5])
a.dtype

In [ ]:
0 + np.nan

In [ ]:
np.nan + np.nan

In [ ]:
a.sum(), a.min(), a.max()

In [ ]:
np.nansum(a), np.nanmin(a), np.nanmax(a)

In [ ]:
pd.Series([1,2, np.nan, 4, None])

In [ ]:
s = pd.Series(range(5), dtype=int)
s

In [ ]:
s[0] = None
s

In [ ]:
s[3] = np.nan

In [ ]:
s = pd.Series([True, False, None, np.nan])
s

#### Null 값 처리

In [ ]:
s = pd.Series([1, 2, 3, np.nan, 'String', None])
s

In [ ]:
s.isnull()

In [ ]:
s[s.notnull()]

In [ ]:
s.dropna()

In [ ]:
df.dropna(axis='columns')

In [ ]:
df[3] = np.nan
df

In [ ]:
df.dropna(axis='columns', how='all')

In [ ]:
df.dropna(axis='rows', thresh=3)

In [ ]:
s

In [ ]:
s.fillna(0)

In [ ]:
s.fillna(method='ffill') #forward

In [ ]:
s.fillna(method='bfill') #backward

In [ ]:
df

In [ ]:
df.fillna(method='ffill', axis=0)

In [ ]:
df.fillna(method='ffill', axis=1)

In [ ]:
df.fillna(method='bfill', axis=0)

In [ ]:
df.fillna(method='bfill', axis=1)

### 중복 제거

In [ ]:
df = pd.DataFrame({'c1' : ['a', 'b', 'c'] * 2 + ['b'] + ['c'],
                   'c2' : [ 1, 2, 1, 1, 2, 3, 3, 4]})
df

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates() #중복제거

### 값 치환

In [ ]:
s = pd.Series([1., 2., -999., 3., -1000., 4.])
s

In [ ]:
s.replace(-999, np.nan)

In [ ]:
s.replace([-999, -1000], np.nan)

In [ ]:
s.replace([-999, -1000], [np.nan, 0])

## 참고문헌

* Pandas 사이트: https://pandas.pydata.org/
* Jake VanderPlas, "Python Data Science Handbook", O'Reilly
* Wes Mckinney, "Python for Data Analysis", O'Reilly